{__NOLAYOUT__} 
<!DOCTYPE html>
<html lang="zh">
        <head>
                <meta charset="utf-8" />
                <title>校验并打印电子面单 - 快印物流仓储系统</title>
                <meta name="description"
                      content="starry network" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <!--basic styles-->
                <link href="/Public/css/wh/bootstrap.min.css" rel="stylesheet" />
                <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome.min.css" />
                <!--[if IE 7]>
                            <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome-ie7.min.css" />
                        <![endif]-->
                <!--ace styles-->
                <link rel="stylesheet" href="/Public/css/wh/jquery-ui-1.10.3.custom.min.css" />
                <!--[if !IE]>-->
                <script type="text/javascript">
                        window.jQuery || document.write("<script src='/Public/js/wh/jquery-2.0.3.min.js'>" + "<" + "/script>");
                </script>
                <!--<![endif]-->
                <!--[if IE]>
                           <script type="text/javascript">
                               window.jQuery || document.write("<script src='/Public/js/wh/jquery-1.10.2.min.js'>" + "<" + "/script>");
                           </script>
                    <![endif]-->

                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <style>
                        #preview-product{
                                float: left;
                                margin-top:5%;
                                margin-left: 20%;
                                padding:10px;
                                border:groove;
                                width:35%;
                        }
                        #preview-product p{
                                font-size: 16px;
                                width:100%;
                                text-align: right;
                        }
                        #preview-product pre{
                                text-align: right;
                        }                        
                        #preview-product p strong{
                                margin-left: 5%;
                        }
                        #preview-product p em{
                                font-style: normal;
                                font-weight: 900;
                                margin: 5%;
                        }                        
                        #check-product{
                                float:left;
                                margin-top: 5%;;
                                margin-left: 10%;
                                padding:10px;
                                border:groove;                                
                                /*                                position:fixed;                                
                                                                left:20%;
                                                                top:350px;*/
                        }    
                        #check-product pre{
                                text-align: right;
                        }                           
                        .label-xlg{
                                margin:5px;
                                padding: 0.3em 0.7em 0.4em;
                                font-size: 16px;
                                line-height: 1.3;
                                height: 28px;
                        }

                </style>
        </head>
        <body>
                <div class="page-content">
                        <div class="page-header position-relative">
                                <h3>校验并打印电子面单</h3>
                                <!--                                <pre>
                                                                        说明：  1、填写（扫描）拣货单号，填写后系统列出该拣货单所有商品编号及数量。
                                                                                2、逐一填写（扫描）商品编号。
                                                                                3、商品填写结束后，左侧表格中检测数量及右侧检测到商品均显示绿色，未出现红色或深黄色，表示商品数量与拣货单数据一致。
                                                                                4、点击校验按钮，提示校对结果。
                                                                </pre>                        -->
                        </div>

                        <div class="row">
                                <div class="col-xs-12">    
                                        <div class="form-horizontal">   
                                                <div class="form-group">
                                                        <!--<label class="col-sm-3 control-label no-padding-right" for="operator"> 员工 </label>-->
                                                        <div class="col-sm-9">
                                                                <input type="hidden" id="the_operator" name="operator" placeholder="员工识别" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                </div>     
                                                <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="pick_id"> 拣货单号 </label>
                                                        <div class="col-sm-9">
                                                                <input type="text" id="the_pick_id" name="pick_id" placeholder="拣货单号识别" class="col-xs-10 col-sm-5" />
                                                        </div>
                                                </div>                                  

                                                <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right" for="product_id"> 商品编号 </label>
                                                        <div class="col-sm-9">
                                                                <input type="text" id="the_product_id" name="product_id" placeholder="商品编号识别" class="col-xs-10 col-sm-5" />
                                                        </div>

                                                </div>                                                 
                                        </div>
                                        <div class="clearfix form-actions">
                                                <div class="col-md-offset-3 col-md-9">
                                                        <button class="btn btn-info" id="check_btn" type="button">
                                                                <i class="icon-ok bigger-110"></i>
                                                                校验并打印电子面单
                                                        </button>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <button class="btn" id="reset_btn" type="reset">
                                                                <i class="icon-undo bigger-110"></i>
                                                                清空重新校验
                                                        </button>
                                                </div>
                                        </div>
                                        <div class="hr hr-24"></div>                                
                                </div>
                        </div>
                </div>
                <div  id="preview-product">
                        <!--                        <p id="123123we"><span class="label label-xlg label-success">预 期 商 品 编 号</span><strong>预期数量</strong><em>检测数量</em></p>
                                                <p id="123123we"><span class="label label-xlg label-success">Succe1231312312312ss</span><strong>1</strong><em>1</em></p>-->
                </div>       
                <div  id="check-product">
                        <!--<p><span class="label label-xlg label-success">检测到的商品</span></p>-->                        
                </div> 

                <script type="text/javascript">
                        window.jQuery || document.write("<script src='/Public/js/wh/jquery-2.0.3.min.js'>" + "<" + "/script>");
                </script>
                <!--basic scripts-->
                <script src="/Public/js/wh/bootstrap.min.js"></script>
                <!--page specific plugin scripts-->
                <script src="/Public/js/wh/jquery-ui-1.10.3.custom.min.js"></script>                  
                <script src="/Public/js/wh/wh.js"></script>
                <script>
                        $(document).ready(function () {
                                init();
                                $("#the_operator").val("admin");
                                $("#the_pick_id").focus();
//                                $("#the_operator").focus();    
                                $("#check_btn").click(function () {
                                        var res = toCheckPickList();
                                        if (res.status) {
                                                $("div.row").fn_tips("success", "ok", res.msg, 0);
//                                                var pickId = $.trim($("#the_pick_id").val());
//                                                init();
//                                                window.open("/Index/Express/index?pickid=" + pickId);
                                                window.location.href = "/Index/Express/index?pickid=" + $.trim($("#the_pick_id").val());
                                        } else {
                                                $("div.row").fn_tips("warning", "exclamation", res.msg, 0);
                                        }
                                });
                                $("#the_pick_id").keyup(function (event) {
                                        if (event.keyCode == 13 || event.which == 13) {
                                                var pickId = $.trim($("#the_pick_id").val());
                                                if (pickId !== '') {
                                                        toGetPickList(pickId);
                                                        $("#the_product_id").focus();
                                                } else {
                                                        $("div.row").fn_tips("warning", "exclamation", "请填写有效拣货单号", 0);
                                                        $("#the_pick_id").focus();
                                                }
                                        }
                                });
                                $("#the_product_id").keyup(function (event) {
                                        if (event.keyCode == 13 || event.which == 13) {
                                                addCheckedProduct();
                                        }
                                });

                                $("#preview-product").on("click", "p", function () {
                                        var curInputChecked = $(this).find("input:checkbox").prop("checked");
                                        if (!curInputChecked) {
                                                $(this).find("input:checkbox").prop("checked", true);
                                        } else {
                                                $(this).find("input:checkbox").removeAttr("checked");
                                        }
                                        clickUpdatePreviewHtml(this);
                                });
                                $("#reset_btn").click(function () {
                                        init();
//                                        window.location.href = "/Index/Checkout/index";
                                });
                        });

                        function init() {
                                initPreviewProduct();
                                initCheckProduct();
                                $("input#the_product_id").val('');
                                $("input#the_pick_id").val('');
                        }
                        function initPreviewProduct() {
                                $("#preview-product").html('');
                                var innerHtml = '<pre><span>名称</span>\t\t\t<span>编号</span>\t<span>预期</span>\t<span>检测</span></pre>';
                                $("#preview-product").append(innerHtml);
                        }
                        function initCheckProduct() {
                                $("#check-product").html('');
                                var innerHtml = '<pre><span>检测到的商品</span></pre>';
                                $("#check-product").append(innerHtml);
                        }
                        /**
                         * 增加检测到商品
                         * @returns {Boolean}
                         */
                        function addCheckedProduct() {
                                var the_product_id = $.trim($("#the_product_id").val());
                                if (the_product_id == '') {
                                        return false;
                                }
                                var existsP = $("#" + the_product_id);
                                if ($(existsP).length > 0) {
                                        var labelClass = 'label-primary';
                                        updatePreviewHtml(existsP, 1);
                                        $("#check-product").append('<p name="check_' + the_product_id + '"><span class="label label-xlg ' + labelClass + '">' + the_product_id + '</span><a href="javascript:void(0)" onclick="minusCheckedProduct(this,\'' + the_product_id + '\');">×</a></p>');
                                } else {
                                        var labelClass = 'label-danger';
                                        $("#check-product").prepend('<p name="check_' + the_product_id + '"><span class="label label-xlg ' + labelClass + '">' + the_product_id + '</span><a href="javascript:void(0)" onclick="minusCheckedProduct(this,\'' + the_product_id + '\');">×</a></p>');
                                }
                                $("#the_product_id").val('');
                                $("#the_product_id").focus();
                        }
                        /**
                         * 消除已检商品
                         * @param {type} delAnchor
                         * @param {type} the_product_id
                         * @returns {undefined}
                         */
                        function minusCheckedProduct(delAnchor, the_product_id) {
                                var existsP = $("#" + the_product_id);
                                $(delAnchor).parent('p').remove();
                                if ($(existsP).length > 0) {
                                        updatePreviewHtml(existsP, -1);
                                }
                                $("#the_product_id").val('');
                                $("#the_product_id").focus();
                        }
                        /**
                         * 更新左侧检测结果预览块
                         * @param {type} existsP
                         * @param {type} type
                         * @returns {undefined}
                         */
                        function updatePreviewHtml(existsP, type) {
                                var checkCount = parseInt($(existsP).find("em").html());
                                var initCount = parseInt($(existsP).find("strong").html());
                                var color = "white";
                                if (type == 1) {
                                        checkCount++;
                                } else {
                                        checkCount--;
                                }
                                $(existsP).find("em").html(checkCount);
                                if (checkCount == initCount) {
                                        $(existsP).find("span").removeClass("label-primary");
                                        $(existsP).css("background-color", "green");
                                        $(existsP).find("strong").css({color: color});
                                        $(existsP).find("em").css({color: color});
                                        $(existsP).find("input:checkbox").prop("checked", true);
                                } else {
                                        if (checkCount > initCount) {
                                                $(existsP).find("span").addClass("label-primary");
                                                $(existsP).css("background-color", "");
                                                color = 'red';
                                        } else if (checkCount < initCount) {
                                                $(existsP).find("span").addClass("label-primary");
                                                $(existsP).css("background-color", "");
                                                color = 'darkorange';
                                        }
                                        $(existsP).find("strong").css({color: "#333"});
                                        $(existsP).find("em").css({color: color});
                                        $(existsP).find("input:checkbox").removeAttr("checked");
                                }
                        }
                        /**
                         * 手动检测确认商品后更新左侧检测结果预览块及右侧检测显示块
                         * @param {type} existsP
                         * @returns {undefined}
                         */
                        function clickUpdatePreviewHtml(existsP) {
                                var the_product_id = $(existsP).prop("id");
                                if ($(existsP).find("input:checkbox").prop("checked")) {
                                        var color = "white";
                                        $(existsP).find("span").removeClass("label-primary");
                                        $(existsP).css("background-color", "green");
                                        $(existsP).find("strong").css({color: color});
                                        $(existsP).find("em").css({color: color});
                                        $(existsP).find("em").html($(existsP).find("strong").html());
                                        var labelClass = 'label-primary';
                                        $("#check-product").find("p[name='check_" + the_product_id + "']").remove();
                                        $("#check-product").append('<p name="check_' + the_product_id + '"><span class="label label-xlg ' + labelClass + '">' + the_product_id + '</span><a href="javascript:void(0)" onclick="minusCheckedProduct(this,\'' + the_product_id + '\');">×</a></p>');
                                } else {
                                        color = 'darkorange';
                                        $(existsP).find("span").addClass("label-primary");
                                        $(existsP).css("background-color", "");
                                        $(existsP).find("strong").css({color: "#333"});
                                        $(existsP).find("em").css({color: color});
                                        $(existsP).find("em").html(0);
                                        $("#check-product").find("p[name='check_" + the_product_id + "']").remove();
                                }
                        }

                        /**
                         * 获取拣货单信息
                         * @param {type} pickId
                         * @returns {Boolean}
                         */
                        function toGetPickList(pickId) {
                                initPreviewProduct();
                                initCheckProduct();
                                var operator = $("#the_operator").val();
                                if ($.trim(operator) == '') {
                                        $("div.row").fn_tips("warning", "exclamation", "工号不能为空", 0);
                                        return false;
                                }
                                $.ajax({
                                        type: 'post',
                                        url: '/Index/Checkout/toGetPickList',
                                        data: 'operator=' + operator + '&pick_id=' + pickId,
                                        dataType: 'json',
                                        error: function (res) {
                                                $("div.row").fn_tips("warning", "exclamation", "请求失败，请重新操作或联系管理员", 0);
                                                return false;
                                        },
                                        success: function (res) {
                                                if (res.status === 0) {
                                                        $("div.row").fn_tips("warning", "exclamation", res.data, 0);
                                                } else if (res.status === 1) {
                                                        if (res.data) {
                                                                var list = res.data;
                                                                var pHtml = '';
                                                                for (pid in list) {
                                                                        pHtml = '<p id="' + pid + '"><span class="label label-xlg label-primary">' + list[pid]['name'] + '</span><span class="label label-xlg label-primary">' + pid + '</span><strong>' + list[pid]['count'] + '</strong><em style="color:darkorange;">0</em><input type="checkbox" name="checkout-checkbox"></p>';
                                                                        $("#preview-product").append(pHtml);
                                                                }
                                                        }
                                                }
                                                return true;
                                        }
                                });
                        }
                        /**
                         * 最后确认检测结果并打印电子面单
                         * @returns {toCheckPickList.whprintAnonym$9|toCheckPickList.whprintAnonym$11|toCheckPickList.whprintAnonym$10}
                         */
                        function toCheckPickList() {
                                var msg = '校对拣货单：';
                                var status = true;
                                if ($("#check-product p").length <= 0) {
                                        return {status: false, msg: "校对失败：尚未检测到商品。"}
                                }
                                if ($("#preview-product p").length <= 0) {
                                        return {status: false, msg: "校对失败：不存在拣货单商品。"}
                                }
                                $("#preview-product p").each(function (i) {
//                                        var pid = $(this).find("span").html();
                                        var initCount = parseInt($(this).find("strong").html());
                                        var checkCount = parseInt($(this).find("em").html());
                                        if (initCount > checkCount) {
                                                status = false;
                                                msg += "<b>" + this.id + "</b>" + "缺少" + (initCount - checkCount) + "件；";
                                        } else if (initCount < checkCount) {
                                                status = false;
                                                msg += "<b>" + this.id + "</b>" + "多了" + (checkCount - initCount) + "件；";
                                        }
                                });
                                $("#check-product p span.label-danger").each(function (i) {
                                        status = false;
                                        msg += "<b>" + $(this).html() + "</b>" + "不在拣货单中；";
                                });
                                if (status == true) {
                                        msg = "成功校对拣货单，商品数量与拣货单数据一致。";
                                }
                                return {status: status, msg: msg};
                        }
                </script>
        </body>
</html>