<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-rim-auto-match" content="none">


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <script src="/Public/js/rem.js?v={$static_v}"></script>
    <link rel="stylesheet" href="/Public/css/appCanUseConpon.css?v={$static_v}">
    <title></title>
</head>
<body>
    <div class="modal" id="couponDlg" role="dialog" style="display: block">
        <div class="modal-content" style="height: 100%;">
            <div class="modal-body" id="couponList" style="overflow:auto;height: 100%;box-sizing: border-box;">
                <!--<div class="dont-use-coupon-div">不使用任何优惠券</div>
                <div class="coupon-div exc-date">
                    <div class="left-div"> &lt;!&ndash;not-free-coupon&ndash;&gt;
                        <div>
                            <p>15</p>
                            <p>无门槛使用</p>
                        </div>
                    </div>
                    <div class="right-div">
                        <p>免费打印20张</p>
                        <p><span></span>免费打印20张</p>
                        <p><span></span>有效期至2016.10.15</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <script src="/Public/js/zepto.min.js"></script>
    <script src="/Public/js/canUseCouponList.js?v=2"></script>
    <script>
//        var couponData = {$couponList};
//        var currentCouponID = 1;
//        var totalPrice = 20;
//        couponData = JSON.stringify(couponData);
//        //couponData = JSON.parse(couponData);
//        initCouponWebviewData(couponData, totalPrice, currentCouponID);
    </script>

</body>
</html>