<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <script src="/Public/js/rem.js?v={$static_v}"></script>
    <link rel="stylesheet" href="/Public/css/choseBuyGoods.css?v={$static_v}">
    <title>商品选购</title>
</head>
<body>
    <div class="div-wrap">
        <!--<div class="top-div">-->
            <!--<img class="close-btn-icon" src="/Public/Image/base/close-chose-panl.png" alt="">-->
            <!--<span class="title-span">选购商品</span>-->
            <!--<div class="selected-div">-->
                <!--<span>已选商品</span>-->
                <!--<input class="selected-check-box" type="checkbox">-->
            <!--</div>-->
        <!--</div>-->
        <div class="container-div">
            <foreach name="data" item="v">
                <div class="item-div" data-goodsid="{$v.goodsId}" data-specification="{$v.specification}">
                    <img class="left-icon" src="{$v.iconUrl}" alt="" >
                    <div class="right-div">
                        <p class="title-p">{$v.title}</p>
                        <p class="original-price-p">{$v.originalPrice}</p>
                        <div class="cost-price-div">
                            <span class="cost-price-span">￥<span class="cost-price">{$v.price}</span></span>
                            <div class="add-goods-div">
                                <img class="choose-goods-icon choose-goods-r" src="/Public/Image/base/choose-goods-r.png" alt="">
                                <span class="goods-num-span">{$v.goodsNum}</span>
                                <img  class="choose-goods-icon choose-goods-p" src="/Public/Image/base/choose-goods-p.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
        <div class="bottom-div" id="buy-goods">（合计：<span class="cost-span">{$totalPrice}</span>元）确定</div>
    </div>
    <script src="/Public/js/zepto.min.js"></script>
    <script>

        //增加商品
        $('.choose-goods-p').on('click', function (event) {
            var numEl = $(this).siblings('.goods-num-span');
            var num = parseInt(numEl.text());
            var oldPrice = parseInt($(this).parent('.add-goods-div').siblings('.cost-price-span').find('.cost-price').text());
            var price;
            numEl.text(num+1);
            returnTotalPrices(oldPrice);
            event.stopPropagation();
            return;
        });

        //删除商品
        $('.choose-goods-r').on('click', function (event) {
            var numEl = $(this).siblings('.goods-num-span');
            var num = parseInt(numEl.text());
            var oldPrice = parseInt($(this).parent('.add-goods-div').siblings('.cost-price-span').find('.cost-price').text());
            var price;
            if (num <= 0) {
                return;
            }
            --num;
            numEl.text(num);
            returnTotalPrices(-oldPrice);
            event.stopPropagation();
            return;
        });

        //勾选已选商品
        function clickSelectGoods(){
            var num;
            $('.item-div').each(function(i, el){
                num = $(el).find('.right-div').find('.cost-price-div').find('.add-goods-div').find('.goods-num-span').text();
                if(num <= 0){
                    $(el).addClass('hidden');
                }
            })
        };

        //取消勾选已选商品
        function cancelSelectGoods () {
            $('.item-div').removeClass('hidden');
        };

        //选购商品总价  getGoodsTotalMoney
        function returnTotalPrices(price){
            var oldTotalPrices = parseInt($('.cost-span').text());
            var totalPrices = oldTotalPrices+(price);
            $('.cost-span').text(totalPrices);
            return totalPrices;
        };

        //查看商品详情
        $('.item-div').on('click', function(){
            var el = $(this),
                goodsId = el.data('goodsid'),
                specification = el.data('specification'),
                goodsNum = el.find('.right-div').find('.cost-price-div').find('.add-goods-div').find('.goods-num-span').text();
            var url =  'http://' + window.location.host + '/Index/Api/goodsDetail?goodsId=' + goodsId + '&goodsNum=' + goodsNum + '&specification=' + specification + '&token={$token}';
            var data = {goodsUrl:url};
            if (typeof android != 'undefined' && typeof android.jumpToGoodsDetail === 'function') {
                android.jumpToGoodsDetail(JSON.stringify(data));
            }

            if (typeof jumpToGoodsDetail === 'function') {
                jumpToGoodsDetail(data);
            }
        });



        //设置商品数量
        function selectGoodsNum(goodsDesc) {
//             goodsDesc = {
//                'goodsId' : 1,
//                'goodsNum' : 10
//            }
            goodsDesc = JSON.parse(goodsDesc);
            var goodsId = goodsDesc.goodsId,
                goodsNum = goodsDesc.goodsNum;
            $('.item-div').each(function (i, el) {
                if ($(el).data('goodsid') == goodsId) {
                    $(el).find('.right-div').find('.cost-price-div').find('.add-goods-div').find('.goods-num-span').text(goodsNum);
                }
            })
        };

        //确定选中选购商品
        $('#buy-goods').on('click', function () {
            var num, data,goodeItemArray,
                goodsTotalPrice = $('.cost-span').text(),
                goodsArray = new Array();
            $('.item-div').each(function (i, el) {
                num = $(el).find('.right-div').find('.cost-price-div').find('.add-goods-div').find('.goods-num-span').text();
                if(num > 0){
                    goodeItemArray = {
                        goodsId : $(el).data('goodsid'),
                        goodsName : $(el).find('.right-div').find('.title-p').text(),
                        goodsPrice : $(el).find('.right-div').find('.cost-price-div').find('.cost-price-span').find('.cost-price').text(),
                        goodsNum : $(el).find('.right-div').find('.cost-price-div').find('.add-goods-div').find('.goods-num-span').text()
                    }
                    goodsArray.push(goodeItemArray);
                }
            })

            data = {
                goodsTotalPrice : goodsTotalPrice,
                goodsArray : goodsArray
            }

            if (typeof android != 'undefined' && typeof android.selectGoodsList === 'function') {
                android.selectGoodsList(JSON.stringify(data));
            }

            if (typeof selectGoodsList === 'function') {
                data['rawData'] = encodeURI(JSON.stringify(data));
                selectGoodsList(data);
            }
        });
    </script>
</body>
</html>