<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <script src="/Public/js/rem.js?v={$static_v}"></script>
    <link rel="stylesheet" href="/Public/css/couponlist.css?v={$static_v}">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>优惠券列表页</title>
</head>
<body>
<div class="top-nav-div">
    <span>优惠券</span>
    <a href="/Index/Api/couponUseInfo"><span><img src="/Public/Image/base/coupons-question-mark.png" alt=""><span>优惠券说明</span></span></a>
</div>
<div class="wrap-div">
<!--    <div class="top-div">
        <div class="banner-div">
            <img class="back-btn-icon" src="/Public/Image/base/back.png">
            <span class="banner-title">我的优惠券</span>
        </div>
    </div>-->

    <div class="coupon-list-div"></div>
    <if condition="$Think.get.type neq -1"><div class="check-coupon-histroy" ><img src="/Public/Image/base/couponhistry.png"><a href="/Index/Api/couponlist?type=-1&token={$token}">查看历史优惠券</a></div></if>
</div>
<div class="bottom-btn">使用优惠券</div>
<script src="/Public/js/zepto.min.js"></script>
<script>
    var noCouponHtmlStr = '<div class="no-coupon"><img src="/Public/Image/no-coupon.png"/> <p><if condition="$Think.get.type eq -1">您还没有历史优惠券<else/>您目前无可用优惠券</if></p></div>';
    var couponData = {$couponList|json_encode};
    var couponType = "{$Think.get.type}";
    var backUrl = "{$backUrl}";
    var ajaxUrl = '/Index/Api/ajaxGetCouponList?token={$token}';
    var notAjax = false;
    var useUrl= "";

    function callToPrint() {
        if(typeof android != "undefined") {
            if(typeof android.toPrint != "undefined") {
                android.toPrint();
            }
        }
        if(typeof toPrint != "undefined") {
            toPrint();
        }
    }

    //使用优惠券
    $('.bottom-btn').on('click', callToPrint);

    var isAjax = false;
    function bindUrl(cid) {
        if(isAjax) return;
        isAjax = true;
        $.ajax({
            type:'GET',
            url: '/Index/Api/ajaxCheckOrder?token={$token}&cid='+cid,
            success:function(data){
                if(data.status == 'ok'){
                    if(typeof android != "undefined") {
                        if(typeof android.toOrder != "undefined") {
                            android.toOrder(cid);
                        }
                    }
                    if(typeof toOrder != "undefined") {
                        toOrder({'cid':cid});
                    }
                } else {
                    var errMsg = "由于该订单在微信中生成，请到魔力快印公众号中查看详情";
                    if(typeof android != "undefined") {
                        if(typeof android.toWeChatEditWarm != "undefined") {
                            android.toWeChatEditWarm(errMsg);
                        }
                    }
                    if(typeof toWeChatEditWarm != "undefined") {
                        toWeChatEditWarm({'warmMsg':errMsg});
                    }
                }
                isAjax = false;
            }
        });

    }
</script>
<script src="/Public/js/couponlist.js"></script>
<script>

</script>
</body>
</html>