<!--<link rel="stylesheet" href="/Public/css/datepicker.css" />-->
<div class="page-content">
        <div class="page-header">
                <h1>
                        权限规则列表
                </h1>
        </div><!-- /.page-header -->

        <div class="row">
                <div id="page_content_div" class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <!--<div id="grid-pager1" class='grid-pager-div'></div>-->

                        <table id="grid-table"></table>

                        <div id="grid-pager" class='grid-pager-div'></div>

                        <script type="text/javascript">
                                var $path_base = "/"; //this will be used in gritter alerts containing images
                        </script>

                        <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
        </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="/Public/js/wh/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/Public/js/wh/jqGrid/i18n/grid.locale-zh.js"></script>
<script src="/Public/js/wh/validate.js"></script>
<script src="/Public/js/wh/validata_message.js"></script>
<script src="/Public/js/wh/validata_metadata.js"></script>
<script src="/Public/js/wh/whlist.js"></script>
<script type="text/javascript">
var validate_rules = {
        //debug:true,
        rules:{
                name:{
                        required:true,
                        minlength:1,
                        maxlength:64
                },                
                title:{
                        required:true,
                        minlength:1,
                        maxlength:128
                },
                status:{
                        required:true
                }
        }
};
var grid_selector = "#grid-table";
var pager_selector = "#grid-pager";
var status = '';
var G_pid = '';
var getSelectData = function (type) {
        var data = '';
        if(type == "status" && status !== ''){
                return status;
        }else if(type == "pid" && G_pid !== ''){
                return G_pid;
        }
        $.ajax({
                type:"post",
                url: "/Index/Authrule/getSelectData",
                data:"type="+type,
                async: false,
                success: function (e) {
                        if (e != null) {
                               data = e;
                               if(type=="status"){
                                       status = data;
                               }else if(type == 'pid'){
                                       G_pid = data;
                               }
                        }
                }
        });
        return data;
};        


var myacFormatter = function(cellvalue,options,rowObject){
        return "-";
        var detail = '<button style="float:left;margin:3px;" class="btn-xs btn-success" onclick="getOrderProducts('+ rowObject.id + ',' + rowObject.uid + ',\'' + rowObject.orderno + '\')">商品</button>';
//        var detail = '<button style="float:left;margin:3px;" class="btn-xs btn-success" onclick="getOrderProducts('+ rowObject.id + ',' + rowObject.uid + ',\'' + rowObject.orderno + '\')">商品</button>';
        
        return detail;// + "&nbsp;&nbsp;&nbsp;\t"+ detail;
};

jQuery(function ($) {
        jQuery(grid_selector).jqGrid({
                //direction: "rtl",
                jsonReader: {
                        root: "rows",
                        page: "currpage",
                        total: "totalpages",
                        records: "totalrecords",
                        repeatitems: false,
                        id: "0",
                        userdata: "userdata"

                },
                //data: grid_data,
                mtype: "POST",
                url: "/Index/Authrule/getListData",
                editurl: "/Index/Authrule/operation",
                datatype: "json",
                colNames: ['ID','父节点', '规则名称', '规则链接',"状态","创建时间", '更新时间', '操作'],
                colModel: [
                        {name: 'id', index: 'id', width: 60, sortable: true, editable: false},
                        {name: 'pid', index: 'pid', width: 60, sortable: true, editable: true,stype:"select",searchoptions:{value:getSelectData("pid")},edittype:"select",editoptions:{value:getSelectData("pid")}},
                        {name: 'title', index: 'title', width: 60, sortable: false, editable: true},
                        {name: 'name', index: 'name', width: 60, sortable: true, editable: true},
                        {name: 'status', index: 'status', width: 60, sortable: false, editable: true,stype:"select",searchoptions:{value:getSelectData("status")},edittype:"select",editoptions:{value:getSelectData("status")},formatter:'select'},
                        {name: 'create_time', index: 'create_time',width: 60, sortable: true, editable: false,formatter:"date",
                                formatoptions:{srcformat:'u',newformat:"Y-m-d H:i:s"}},
                        {name: 'update_time', index: 'update_time',width: 60, sortable: true, editable: false,formatter:"date",
                                formatoptions:{srcformat:'u',newformat:"Y-m-d H:i:s"}},
                        {name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: true, search: false,
                                formatter: myacFormatter
                        }
                ],
                viewrecords: true,
                rowNum: 25,
                rowList: [25, 50,100],
                pager: pager_selector,
                altRows: true,
                //toppager: true,

                multiselect: true,
                //multikey: "ctrlKey",
                multiboxonly: true,
                loadComplete : function(res) {
                        if(res.status == 0){
                                fn_info_tips("warning", "remove", res.data,0);
                        }
                        var table = this;
                        setTimeout(function () {
                                styleCheckbox(table);
                                updateActionIcons(table);
                                updatePagerIcons(table);
                                enableTooltips(table);
                        }, 0);
                },
                loadtext: "数据加载中...",
                caption: "权限规则列表",
                autowidth: true,
                height: "100%"
        });
        //enable search/filter toolbar
        //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
        //navButtons
        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
                {
                        //navbar options
                        edit: true,
                        editicon: 'icon-pencil blue',
                        add: true,
                        addicon: 'icon-plus-sign purple',
                        del: false,
                        delicon: 'icon-trash red',
                        search: true,
                        searchicon: 'icon-search orange',
                        refresh: true,
                        refreshicon: 'icon-refresh green',
                        view: true,
                        viewicon: 'icon-zoom-in grey',
                },
                {
                        //edit record form
                        width: 500,
                        //height:600,
                        left: ($(window).width() - 500) / 2,
                        top: ($(window).height()) / 4,
                        editCaption: "编辑规则",
                        bSubmit: "保存",
                        bCancel: "取消",
                        closeAfterEdit: true,
                        recreateForm: true,
                        beforeSubmit:fn_beforeEditSubmit,
                        afterSubmit: fn_editSubmit,
                        beforeShowForm: function (e) {
                                var form = $(e[0]);
                                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />');
                                style_edit_form(form,validate_rules);
                        }
                },
                {
                        //new record form
                        width: 500,
                        //height:600,
                        left: ($(window).width() - 500) / 2,
                        top: ($(window).height()) / 4,
                        addCaption: "新增规则",
                        bSubmit: "保存",
                        bCancel: "取消",
                        closeAfterAdd: true,
                        recreateForm: true,
                        viewPagerButtons: false,
                        afterSubmit: fn_addSubmit,
                        beforeShowForm: function (e) {
                                var form = $(e[0]);
                                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />');
                                style_edit_form(form,validate_rules);
                        }
                },
                {
                        //delete record form
                        left: ($(window).width()) / 2,
                        top: ($(window).height()) / 4,
                        delCaption: "删除规则",
                        bSubmit: "删除",
                        bCancel: "取消",
                        closeAfterDel: true,
                        recreateForm: true,
                        afterSubmit: fn_delSubmit,
                        beforeShowForm: function (e) {
                                var form = $(e[0]);
                                if (form.data('styled'))
                                        return false;
                                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />');
                                style_delete_form(form);
                                form.data('styled', true);
                        },
                        onClick: function (e) {
                                alert(1);
                        }
                },
                {
                        //search form
                        width: 500,
                        //height:600,
                        left: ($(window).width() - 500) / 2,
                        top: ($(window).height()) / 4,
                        recreateForm: true,
                        closeAfterSearch: true,
                        sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'],
                        afterShowSearch: function (e) {
                                var form = $(e[0]);
                                form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />');
                                style_search_form(form);
                        },
                        afterRedraw: function () {
                                style_search_filters($(this));
                        },
                        multipleSearch: true,
                        /**
                         multipleGroup:true,
                         showQuery: true
                         */
                },
                {
                        //view record form
                        width: 500,
                        //height:600,
                        left: ($(window).width() - 500) / 2,
                        top: ($(window).height()) / 4,
                        recreateForm: true,
                        beforeShowForm: function (e) {
                                var form = $(e[0]);
                                form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />');
                                $("#trv_myac").remove();
                        },
                }
        );
        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');     
});
</script>