{__NOLAYOUT__} 
<!DOCTYPE html>
<html lang="zh">
        <head>
                <meta charset="utf-8" />
                <title>服务入口 - 快印物流仓储系统</title>
                <meta name="description"
                      content="starry network" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <!--basic styles-->
                <link href="/Public/css/wh/bootstrap.min.css" rel="stylesheet" />
                <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome.min.css" />
                <!--[if IE 7]>
                            <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome-ie7.min.css" />
                        <![endif]-->
                <!--ace styles-->
                <link rel="stylesheet" href="/Public/css/wh/jquery-ui-1.10.3.custom.min.css" />
                <link rel="stylesheet" href="/Public/css/wh/ace.min.css" />
                <!--[if !IE]>-->
                <script type="text/javascript">
                        window.jQuery || document.write("<script src='/Public/js/wh/jquery-2.0.3.min.js'>" + "<" + "/script>");
                </script>
                <!--<![endif]-->
                <!--[if IE]>
                           <script type="text/javascript">
                               window.jQuery || document.write("<script src='/Public/js/wh/jquery-1.10.2.min.js'>" + "<" + "/script>");
                           </script>
                    <![endif]-->

                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </head>
        <body>
                <div class="col-xs-12">
                        <h3 class="header smaller lighter green">魔力快印仓储服务</h3>

                        <p>
                                <a href="/Index/Normal/putin" target='_blank' class="btn btn-inverse btn-lg">
                                        <i class="icon-shopping-cart bigger-160"></i>
                                        普通品入库
                                </a>

                                <a href="/Index/Custom/putIn" target='_blank' class="btn btn-lg btn-primary">
                                        <i class="icon-save bigger-160"></i>
                                        印刷品入库
                                </a>

                                <a href="/Index/Picking/index" target='_blank'  class="btn btn-lg btn-success">
                                        <i class="icon-print bigger-160"></i>
                                        打印拣货单
                                </a>
                                
                                <a href="/Index/Checkout/index" target='_blank'  class="btn btn-lg btn-warning">
                                        <i class="icon-check bigger-160"></i>
                                        校验及打印电子面单
                                </a>                                


<!--                                <a href="/Index/Express/index" target='_blank' class="btn btn-lg btn-danger">
                                        <i class="icon-print bigger-160"></i>
                                        打印电子面单
                                </a>-->
                                

                        </p>
                        <p>
                                <a href="/Index/Checkout/checkall" target='_blank' class="btn btn-lg btn-yellow">
                                        <i class="icon-eye-open bigger-160"></i>
                                        仓储预警扫描
                                </a>  
                                <a href="/Index/Custom/viewprocess" target='_blank' class="btn btn-lg btn-purple">
                                        <i class="icon-search bigger-160"></i>
                                        查询商品仓储进度
                                </a>                                 
                        </p>
                </div>    
                <script type="text/javascript">
                        window.jQuery || document.write("<script src='/Public/js/wh/jquery-2.0.3.min.js'>" + "<" + "/script>");
                </script>
                <!--basic scripts-->
                <script src="/Public/js/wh/bootstrap.min.js"></script>
                <!--page specific plugin scripts-->
                <script src="/Public/js/wh/jquery-ui-1.10.3.custom.min.js"></script>                  
                <script src="/Public/js/wh/wh.js"></script>                
        </body>
</html>
