@charset "utf-8";

@import "function";

*{
  margin: 0;
  padding: 0;
}

html,body{
  position: relative;
  width: 100%;
  height: 100%;
}

.top-div{
  $height:pxToRem(104px);
  position: relative;
  width: 100%;
  height: $height;
  border-bottom: 1px solid #F2F2F2;
  text-align: center;

  .close-btn-icon{
    $width: pxToRem(44px);
    position: absolute;
    top: pxToRem(30px);
    left: pxToRem(36px);
    width: $width;
    height: $width;

  }

  .title-span{
    font-size: pxToRem(36px);
    color: #4A4A4A;
  }

  .selected-div{
    position: absolute;
    top: pxToRem(38px);
    right: pxToRem(23px);
    height: pxToRem(32px);

    .selected-check-box{
      $width: pxToRem(32px);
      width: $width;
      height: $width;
      margin-right: pxToRem(12px);
      float: right;
    }

    &>span{
      float: right;
      font-size: pxToRem(26px);
      color: #3A95FF;
    }
  }
}

.container-div{
  position: fixed;
  top: 0;
  left: 0;
  bottom: pxToRem(96px);
  width: 100%;
  overflow-y: scroll;
}

.item-div{
  box-sizing: border-box;
  width: 100%;
  height: pxToRem(228px);
  padding: 0 pxToRem(60px) 0 pxToRem(42px);
  border-bottom: 1px solid #F2F2F2;
  .left-icon{
    $width: pxToRem(148px);
    float: left;
    width: $width;
    height: $width;
    border-radius: pxToRem(20px);
    margin: pxToRem(40px) pxToRem(38px) 0 0;
  }

  .right-div{
    width: pxToRem(462px);
    margin-top: pxToRem(42px);
    float: left;
    .title-p{
      font-size: pxToRem(32px);
      color: #4A4A4A;
    }

    .original-price-p{
      margin-top: pxToRem(18px);
      font-size: pxToRem(26px);
      color: #9B9B9B;
      text-decoration: line-through;
    }

    .cost-price-div{
      overflow: hidden;
      .cost-price-span{
        float: left;
        font-size: pxToRem(32px);
        color: #FF0000;
      }

      .add-goods-div{
        height: pxToRem(44px);
        line-height: pxToRem(32px);
        display: inline-block;
        float: right;

        .goods-num-span{
          font-size: pxToRem(32px);
          color: rgb(87, 64, 0);
          vertical-align: middle;
        }
        .choose-goods-icon{
          $width: pxToRem(44px);
          width: $width;
          height: $width;
        }
      }
    }

  }
}

.bottom-div{
  $height: pxToRem(96px);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $height;
  background-color: #FEBF0E;
  font-size: pxToRem(36px);
  color: #574000;
  text-align: center;
  line-height: $height;
}

.hidden{
  display: none !important;
}