<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    </head>
    <style>
        #mask {
            position: fixed;
            top:0;
            bottom: 0;
            left:0;
            right:0;
            background-color: white;
        }
    </style>
    <body>
        <div id="talkView"></div>
        <div id="mask">为您转接客服中...</div>
    </body>
    <!-- IE8及以下支持JSON -->
    <!--[if lt IE 9]>
        <script src="https://g.alicdn.com/aliww/ww/json/json.js" charset="utf-8"></script>
    <![endif]-->
    <!-- 自动适配移动端与pc端 -->
    <script src="https://g.alicdn.com/aliww/??h5.imsdk/2.1.0/scripts/yw/wsdk.js,h5.openim.kit/0.3.7/scripts/kit.js" charset="utf-8"></script>
    <script>
        window.onload = function(){
            WKIT.init({
                appkey: 23345070,
                uid: '{$uid}',
                credential: '{$pwd}',
                touid: '魔力快印',
                avatar : '{$avatar}',
                toAvatar : 'http://img.alicdn.com/top/i1/TB1i4YbMpXXXXbYXFXXwu0bFXXX.png',
                sendMsgToCustomService: true
            });
        }
    </script>
</html>