<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>
    <link rel="stylesheet" href="{$resyuming}Public/css/orderDetail.css?v={$static_v}"/>
    <style>
        .panel-body div p:first-child{
            color:red;
        }
    </style>
    <title>快递查询</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">快递信息</div>
    <div class="panel-body">
        <div>
        	{$msg}
        </div>
    </div>
</div>
<div style="display:none">
    <script src="http://s4.cnzz.com/z_stat.php?id=1256866199&web_id=1256866199" language="JavaScript"></script>
</div>
</body>
</html>