<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>

    <style>
        .table>tbody>tr>td {
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            overflow: hidden;
        }
        .order-name {
            width: 17rem;
            max-width: 17rem;
        }
    </style>

    <title>魔力快印</title>
</head>
<body>
<table class="table">
    <thead>
        <tr >
            <th>订单号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <foreach name="orderList" item="v" key="k" >
        <tr>
            <td class="order-name">{$v.orderNumber|default="无"}</td>
            <td>{$v.statusdesc}</td>
            <td>
                <if condition="$v.status eq 10">
                    <a class="btn btn-default" href="/Index/Index/orderDetail/cid/{$v.cid}">详情</a>
                <else/>
                    <a class="btn btn-default" href="/Index/Index/order/cid/{$v.cid}">编辑</a>
                </if>
            </td>
        </tr>
        </foreach>
    </tbody>
</table>
<div style="text-align: center">
    <a class="btn btn-primary" href="/Index/Index/order"> 打印新的照片 </a>
</div>

<div style="display:none">
    <script src="http://s4.cnzz.com/z_stat.php?id=1256866199&web_id=1256866199" language="JavaScript"></script>
</div>
</body>
</html>