<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>
    <link rel="stylesheet" href="{$resyuming}Public/css/index.css?v={$static_v}"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <title>魔力快印</title>
</head>
<body>

<div class="panel panel-default" id="picsView">
    <div class="panel-heading">选择需要打印的照片</div>
    <div class="panel-body">
        <div class="clearfix" id="picsGroup">
            <form><input type="file" id="upload" multiple="multiple" accept="image/png, image/jpeg, image/jpg"></form>
        </div>
        <div class="clearfix">
            <button class="btn btn-success" id="uploadBtn" type="button">添加照片</button>
       		<span id="picInfo" style="display:none;">您已添加 <span style="color:red;" id="picInfoNum">0</span> 张照片，预计总费用 <span style="color:red;" id="picInfoPrice">0</span> 元 </span><br>
       		<span>（20 张以内包邮9.9 元，每多20 张加8.9 元）</span>
        </div>
    </div>
</div>

<div class="panel panel-default" id="orderView">
    <div class="panel-heading">收货信息</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="control-label" for="name">收货人姓名</label>
                <input class="form-control"
                       id="name"
                       name="name"
                       type="text"
                       value="{$contactData.name|default=''}"
                       placeholder="联系人姓名">
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">联系电话</label>
                <input class="form-control"
                       id="phone"
                       name="phone"
                       type="text"
                       value="{$contactData.phone|default=''}"
                       placeholder="联系人电话">
            </div>
            <div class="form-group">
                <label class="control-label" for="province">收货地址</label>
                <div id="address">
                    <select class="prov form-control" name="province"></select>
                    <select class="city form-control" name="city"></select>
                    <select class="area form-control" name="area"></select>
                </div>
                <div>
                    <input class="form-control"
                           id="street"
                           name="street"
                           type="text"
                           value="{$contactData.street|default=''}"
                           placeholder="邮寄街道">
                </div>
                <pre id="exceptAreaTip">此地区属于偏远地区，需加邮费 10 元</pre>
            </div>
            <div class="form-group">
                <label class="control-label" for="message">留言</label>
                <input class="form-control"
                       id="message"
                       name="message"
                       type="text"
                       value="{$orderData.message|default=''}"
                       placeholder="客户留言，可以不填写">
            </div>
            <div class="form-group">
                <!-- <button class="btn btn-primary" id="saveBtn" type="button" >保存订单</button> -->
                <button class="btn btn-danger" id="submitBtn" type="button" >提交订单</button>
                <p style="text-align: center"><code>（注：禁止发送涉嫌违法照片）</code></p>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="detailDlg"  role="dialog" style="background-color: rgba(0,0,0,.8);">
    <div class="modal-dialog" role="document" style="margin: 45% auto;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="alterInfo">
                </div>
            </div>
            <div class="modal-footer"style=" text-align: center;">
                <button id="cancelBtn" type="button" class="btn btn-primary">继续添加</button>
                <button id="continueBtn" type="button" class="btn btn-danger">确认提交</button>
            </div>
        </div>
    </div>
</div>

<div id="cover">
    <p>上传第<span id="coverPicNum">1</span>张照片中<span id="coverProNum">(0%)</span>...</p>
</div>

<script>
    var uploadCfg = {
        cid : {$orderData.cid|default='null'},
        aid : {$orderData.aid|default='null'},
        wxType : "{$wxType|default='wx'}",
        wxLocalType : "{$wxLocalType|default='wxLocal'}",
        uploadType : "{$uploadType|default='upyun'}",
        province: "{$contactData.province|default=''}",
        city : "{$contactData.city|default=''}",
        area: "{$contactData.area|default=''}"
    }

    var imgData = [
    <foreach name="orderData.pics" item="v" key="k" >{
            id:"{$v.id}",
            url: "{$v.url}",
            type: "{$v.type}",
            upload: "<if condition="$v['type'] eq 'wxLocal'">0<else />1</if>"
        },</foreach>
    ];

    var minUploadPicsCount = {$minUploadPicCount|default='1'};
    var excepArea = [<foreach name="excepArea" item="v" >"{$v}",</foreach>];
</script>

<script src="{$resyuming}Public/js/zepto.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/md5.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/base64.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/upyun.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/cityMap.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/custom.js?v={$static_v}"></script>

<?php if(!empty($is_wx)){ ?>
<script src="/Public/js/wx/wxsdk.js?v=<?php echo $static_v; ?>"></script>
<script>
wx_root_url = '/index/index/';
wx_root_sid = '1';

wxConfig={
    share_appid:"",
    share_img_link:"",
    share_link:"",
    share_title:"",
    share_desc:"",
    sendAppMsgCancel:sendAppMsgCancel,
    sendAppMsgOK:sendAppMsgOK,
    shareTimeLineOK:shareTimeLineOK,
    callback:function(res){
        switch(res.err_msg) {
          case "share_timeline:confirm":
            case "share_timeline:ok":
              //shareTimeLineOK();
            break;
            case "send_app_msg:confirm":
          case "send_app_msg:ok":
           // sendAppMsgOK();
            break;
          default:
         //   sendAppMsgCancel();
            break;
        }
    }
};
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
      debug: false,
      appId: '<?=$wxappid?>',
      timestamp: <?=$wxtime?>,
      nonceStr: '<?=$nonceStr?>',
      signature: '<?=$signature?>',
      jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'chooseImage',
        'uploadImage'
      ]
  });
  wx.ready(function () {
      setsharedata("","http://yin.molixiangce.com/","http://yin.molixiangce.com/Public/Image/base/shareicon.jpg");
  });
</script>
<?php } ?>
<div style="display:none">
    <script src="http://s4.cnzz.com/z_stat.php?id=1256866199&web_id=1256866199" language="JavaScript"></script>
</div>
</body>
</html>