<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <script src="/Public/js/rem.js?v={$static_v}"></script>
    <link rel="stylesheet" href="/Public/css/payorderlist.css?v={$static_v}">
    <title>订单列表页</title>
</head>
<body>
    <div class="wrap-div">
        <div class="top-div">
            <!--<div class="nav-btn-style" ><span class="<if condition='($Think.get.isPaid eq 0)'>active-style</if>" data-type="0">待付款</span></div>-->
            <!--<div class="nav-btn-style" ><span class="<if condition='($Think.get.isPaid eq 1)'>active-style</if>" data-type="1">已付款</span></div>-->
            <div>
                <span class="nav-btn-style <if condition='($Think.get.isPaid eq 0)'>active-style</if>" data-type="0">待付款</span>
                <span class="nav-btn-style <if condition='($Think.get.isPaid eq 1)'>active-style</if>" data-type="1">已付款</span>
            </div>
        </div>
        <div class="coupon-list-div">
            <!--<div class="coupon-div">
                <div class="order-num-div">订单号： 14642534851718</div>
                <div class="left-div">
                    <img src="/Public/Image/base/shareicon.jpg">
                </div>
                <div class="right-div">
                    <p>商品:20张6寸照片</p>
                    <p>订单金额：<span>￥9.9</span></p>
                    <p>2016.10.15</p>
                </div>
                <div class="button-div">
                    <span>剩余72小时订单将被删除</span>
                    <div class="pay-btn">立即支付</div>
                    <div class="order-info">查看详情</div>
                </div>
            </div>-->
            <!--<div class="no-more-div display-none-style">以显示全部</div>-->

        </div>
        <include file="./Application/Index/View/Default/Index/footer-nav.html" />
    </div>
    <script src="/Public/js/zepto.min.js"></script>
    <script>
        /* isPaid   null 全部,  1 支付, 0 未支付*/
        (function(){
            var data = {$orderList|json_encode};
            loadData(data.data);
            function loadData(data){
                //console.log(data);
                //console.log(data);return;
                if(data == null){
                    $('.top-div').after(noPayOrder());
                    return;
                }
                $.each(data, function(i, v){
                    $('.coupon-list-div').append(template(v));
                })
            }

            function template(data) {
                var str = '';
                var btn = '';
                if (data['paidTime'] != null) {
                    btn = '<a href="'+data['secondUrl']+'"><div class="logistics-info">查看物流</div></a>';
                } else {
                    btn = '<a href="'+data['secondUrl']+'"><div class="pay-btn">立即支付</div></a>' + '<span>剩余'+data['excDate']+'小时订单将被取消</span>';
                }

                var order_name = '商品:'+data['photoNum']+'张6寸照片';
                if(data['sys'] == 'wxs'){
                    order_name = '微信书';
                }else if(data['sys'] == 'zpk'){
                    order_name = '照片卡';
                }

                str =
                        '<div class="coupon-div">'+
                            '<div class="order-num-div"><span>订单号： '+data['orderno']+'</span></div>'+
                            '<div class="left-div">'+
                                '<img src="'+data['imgUrl']+'">'+
                            '</div>'+
                            '<div class="right-div">'+
                                '<p>'+order_name+'</p>'+
                                '<p>订单金额：<span>￥'+data['price']+'</span></p>'+
                                '<p>'+data['createTime']+'</p>'+
                            '</div>'+
                            '<div class="button-div">'+
                                btn+
                                '<a href="'+data['firstUrl']+'"><div class="order-info">查看详情</div></a>'+
                            '</div>'+
                        '</div>';
                return str;
            }

            function noPayOrder(){
                var str = '';
                str =
                        '<div class="no-data-div">'+
                            '<div class="no-data-div-word">您的订单空空如也</div>'+
                            '<img src="/Public/Image/base/no-payorder.png">'+
                                '<div class="select-pic-btn"><a href="/Index/Index/orderEx/backUrl/payOrderList<notempty name="activityId">/activityId/{$activityId}<notempty name="subType">/subType/{$subType}</notempty></notempty>">立即打印</a></div>'+
                        '</div>';
                return str;
            }

            var isClick = true;
            $('.nav-btn-style').on('click', function(){
                $('.nav-btn-style').removeClass('active-style');
                $('.no-data-div').remove();
                $(this) .addClass('active-style');
                if(isClick != true){
                    return;
                }
                isClick = false;
                $('.coupon-div').remove();
                var type = $(this).data('type');
                $.ajax({
                    type : 'POST',
                    url : '/Index/Index/payOrderList',
                    data : {isPaid : type},
                    success : function(data){
                        if(data['status'] == 'ok'){
                            loadData(data.data);
                        } else {
                            console.log('error');
                            return;
                        }
                        isClick = true;
                    }
                })
            })

            //下拉刷新
            var scrollTopVal;
            var winH = $(window).height(); //页面可视区域高度
            var page = 1; //设置当前页数
            var isAjax = false;

            $(window).scroll(function(event) {
                var scrollT = $(window).scrollTop(); //滚动条top
                //console.log(isAjax);
                if(isAjax) {
                    return;
                }
                scrollTopVal = $(window).scrollTop();//返回 匹配元素的滚动条的垂直位置
                var pageH = $(document.body).height();//浏览器当前窗口文档body的高度
                var aa = (pageH-winH-scrollT)/winH;
                var type = $('.active-style').data('type');
                if(aa<0.02 && page != null){
                    isAjax = true;
                    page = page + 1;
                    //console.log(type, page);
                    $.ajax({
                        type:'POST',
                        url:'/Index/Index/payOrderList',
                        data:{
                            isPaid: type,
                            page:(page),
                        },
                        success:function(data){
                            if(data.status != 'error'){
                                if(data.data != null){
                                    loadData(data.data);
                                } else {
                                    page = null;
                                    //alert('已经到底了！');
                                    return;
                                }
                            }else {

                            }
                            isAjax = false;
                        }
                    })
                }
            });
        }())
    </script>
    <script src="/Public/js/getPayUrl.js"></script>
</body>
</html>