<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <!--<script src="{$resyuming}Public/js/rem.js"></script>
    <link rel="stylesheet" href="{$resyuming}Public/css/indexEx.css?v={$static_v}"/>-->
    <!--<<link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script src="/Public/js/rem.js?v={$static_v}"></script>
    <link rel="stylesheet" href="/Public/css/orderex.css?v=11110">
    <style>
        #picsView #submitBtnEx {
            right: 50%;
            position: relative;
            margin-right: -1.6rem;
        }
    </style>
    <title>魔力快印</title>
</head>
<body>

<div id="picsView">
    <div class="title">内容列表</div>
    <div id="picsGroup" class="">
        <form><input type="file" id="upload" multiple="multiple" accept="image/png, image/jpeg, image/jpg"></form>
    </div>
    <form><input type="file" id="upload" multiple="multiple" accept="image/png, image/jpeg, image/jpg"></form>
    <div class="bottom-nav">
        <!--div id="feeDes">价格介绍</div-->
        <div class="des"><span id="picInfo" >共<span class="num payPrice">0</span>元</span></div>
        <div class="des-sub"></div>
        <div class="btn-list">
            <div class="btn" id="submitBtnEx" >确认打印</div>
        </div>
    </div>
</div>

<div id="addressView">
    <div class="title"><img  id="closeAddressView" src="{$resyuming}Public/Image/back.png"/>订单详情</div>

    <div class="body">
        <div class="content header">
            <div class="des">收货信息</div>
            <form>
                <table style="width: 100%;">
                    <tr class="form-group">
                        <td><label class="control-label" for="name">收货人:</label></td>
                        <td><input class="form-control" id="name" name="name" type="text" value="{$contactData.name|default=''}" placeholder="名字"></td>
                    </tr>
                    <tr class="form-group">
                        <td><label class="control-label" for="phone">手机号码:</label></td>
                        <td><input class="form-control" id="phone" name="phone" type="text" value="{$contactData.phone|default=''}" placeholder="手机或固话"></td>
                    </tr>
                    <tr class="form-group">
                        <td><label class="control-label">选择地区:</label></td>
                        <td id="address">
                            <select class="prov form-control" name="province"></select>
                            <select class="city form-control" name="city"></select>
                            <select class="area form-control" name="area"></select>
                            <pre id="exceptAreaTip">此地区属于偏远地区，需加邮费 10 元</pre>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td><label class="control-label" for="street">详细地址:</label></td>
                        <td><input class="form-control" id="street" name="street" type="text" value="{$contactData.street|default=''}" placeholder="街道门牌信息"></td>
                    </tr>
                    <tr style="display:none"  class="form-group">
                        <td><label class="control-label" for="message">留言</label></td>
                        <td><input class="form-control" id="message" name="message" type="text" value="{$orderData.message|default=''}" placeholder="客户留言，可以不填写"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="content second">
            <table style="width: 100%; padding: 0rem 1rem;">
                <p class="spjg-title">商品详情</p>
                <tbody>
                <tr class="form-group">
                    <td><label class="control-label">商品:</label></td>
                    <td class="tr-right">微信书</td>
                </tr>
                <tr class="form-group">
                    <td><label class="control-label">价格:</label></td>
                    <td class="tr-right" style="color:red;">￥<span class="payPrice">0</span></td>
                </tr>
                <tr class="form-group">
                    <td><label class="control-label">邮费:</label></td>
                    <td class="tr-right">(韵达快递)￥0</td>
                </tr>
                <tr class="form-group" style="color:red;">
                    <td><label class="control-label">总计:</label></td>
                    <td class="tr-right" style="color:red;">￥<span class="payPrice" id="picInfoPrice">0</span></td>
                </tr>
                <tr class="form-group">
                    <td><label class="control-label">支付方式:</label></td>
                    <td class="tr-right">微信支付</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="bottom">
        <span class="des">总价:￥<span id="payPriceEx" class="price">0</span><span class="coupon-des"></span></span>
        <button class="btn" id="submitBtn" type="button" >提交订单</button>
    </div>
</div>

<div class="modal" id="warmDlg"  role="dialog" style="background-color: rgba(0,0,0,.8);">
    <div class="modal-content">
        <div class="modal-header" id="warmTitle"></div>
        <div class="modal-body">
            <div id="warmTxt"></div>
        </div>
        <div class="modal-footer">
            <div class="btn" id="closeWarmBtn">知道了</div>
        </div>
    </div>
</div>


<script>
    var isLoadPics = false;
    var isInit = false;
    var needWarmCount = 10,
        warmCount = 20,
        minUploadPicsCount = {$minUploadPicCount|default='1'},
        uploadCfg = {
            cid : {$orderData.cid|default='null'},
            aid : {$orderData.aid|default='null'},
            wxType : "{$wxType|default='wx'}",
            wxLocalType : "{$wxLocalType|default='wxLocal'}",
            uploadType : "{$uploadType|default='upyun'}",
            province: "{$contactData.province|default=''}",
            city : "{$contactData.city|default=''}",
            area: "{$contactData.area|default=''}"
        },
        maxSelectPicCount = {$maxSelectPicCount|default='500'},
        imgData = [
        <foreach name="orderData.pics" item="v" key="k" >{
                id:"{$v.id}",
                url: "{$v.url}",
                type: "{$v.type}",
                upload: "<if condition="$v['type'] eq 'wxLocal'">0<else />1</if>"
            },</foreach>
        ],
        excepArea = [<foreach name="excepArea" item="v" >
        "{$v}",
        </foreach>],
        couponIdx = undefined,
        couponId = undefined;
        // imgData = imgData.reverse();

        console.log(imgData.length);
</script>
<script src="{$resyuming}Public/js/zepto.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/md5.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/base64.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/upyun.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/cityMap.js?v={$static_v}"></script>

<script src="{$resyuming}Public/js/commonWxs.js?v={$static_v}"></script>

<script>
    $('.payPrice').html('33');
    $('#payPriceEx').html('33');
</script>

<?php if(!empty($is_wx)){ ?>
<script src="/Public/js/wx/wxsdk.js?v=<?php echo $static_v; ?>"></script>
<script>
wx_root_url = '/index/index/';
wx_root_sid = '1';

wxConfig={
    share_appid:"",
    share_img_link:"",
    share_link:"",
    share_title:"",
    share_desc:"",
    sendAppMsgCancel:sendAppMsgCancel,
    sendAppMsgOK:sendAppMsgOK,
    shareTimeLineOK:shareTimeLineOK,
    callback:function(res){
        switch(res.err_msg) {
          case "share_timeline:confirm":
            case "share_timeline:ok":
              //shareTimeLineOK();
            break;
            case "send_app_msg:confirm":
          case "send_app_msg:ok":
           // sendAppMsgOK();
            break;
          default:
         //   sendAppMsgCancel();
            break;
        }
    }
};
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
      debug: false,
      appId: '<?=$wxappid?>',
      timestamp: <?=$wxtime?>,
      nonceStr: '<?=$nonceStr?>',
      signature: '<?=$signature?>',
      jsApiList: [
          'checkJsApi',
          'onMenuShareTimeline',
          'onMenuShareAppMessage',
          'onMenuShareQQ',
          'onMenuShareWeibo',
          'chooseImage',
          'uploadImage',
          'downloadImage',
          'previewImage'
      ]
  });
  wx.ready(function () {
      setsharedata("","http://yin.molixiangce.com/","http://yin.molixiangce.com/Public/Image/base/shareicon.jpg");
	  // 加载图片
      var picGroup = $("#picsGroup");
      var cHeight = picGroup.offset().height;
      for(var i= 0,len=imgData.length;i<len;++i) {
          var url = "";
          var idTmp = imgData[i].url;
          if(uploadCfg["wxType"] == imgData[i].type) {
              idTmp = imgData[i].id;
          }
          if(uploadCfg["wxLocalType"] == imgData[i].type) {
              idTmp = 0;
              url = imgData[i].url;
          }
          picGroup.append(newPicItem(url, imgData[i].type, idTmp, imgData[i].upload));
      }

      function updateWxImg() {
          if(isLoadPics)
              return;
          isLoadPics = true;
          var imgs = $("#picsGroup .upload-img[src=''][data-download='0']");
          if(imgs.length <= 0) {
              isLoadPics = false;
              return;
          }
          var imgOffset = 0;
          function downloadImg() {
              if(imgOffset >= imgs.length) {
                  isLoadPics = false;
                  return;
              }
              var img = imgs.eq(imgOffset);
              if(cHeight + 50 < img.offset().top) {
                  isLoadPics = false;
                  return;
              }
              if(uploadCfg["wxType"] != img.data('type')) { // 非微信图片
                  img.attr('src', img.data("id"));
                  img.data("download", 1);
                  ++imgOffset;
                  downloadImg();
              } else { // 微信图片
                  wx.downloadImage({
                      serverId: img.data("id"), // 需要下载的图片的服务器端ID，由 uploadImage 接口获得
                      isShowProgressTips: 1, // 默认为1，显示进度提示
                      success: function (res) {
                          img.attr('src', res.localId);
                          img.data("download", 1);
                          ++imgOffset;
                          downloadImg();
                      },
                      fail: function (res){
                          alert(JSON.stringify(res));
                      }
                  });
              }
          }
          downloadImg();
      }

      picGroup.scroll(function(){
          updateWxImg();
      });
      updateWxImg();
      isInit = true;
  });
</script>
<?php }else{ ?>
<script>
    $(function () {
        // 加载图片
        var picGroup = $("#picsGroup");
        var cHeight = picGroup.offset().height;
        for(var i= 0,len=imgData.length;i<len;++i) {
            var url = "";
            if(uploadCfg["wxType"] != imgData[i].type) {
                url = imgData[i].url;
            }
            picGroup.append(newPicItem(url,imgData[i].type,imgData[i].id,imgData[i].upload));
        }

        picGroup.scroll(function(){
//            console.log("in");
        });
        $("#saveOverlay").remove();
    });
</script>
<?php } ?>
<div style="display:none">
    <script src="http://s4.cnzz.com/z_stat.php?id=1256866199&web_id=1256866199" language="JavaScript"></script>
</div>
</body>
</html>