{__NOLAYOUT__} 
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>
    <script src="{$resyuming}Public/js/yin/jquery.js" type="text/javascript"></script>
    <script src="{$resyuming}Public/js/yin/CaiNiaoPrintFuncs.js"></script>
    <object id="CaiNiaoPrint_OB" classid="clsid:09896DB8-1189-44B5-BADC-D6DB5286AC57" width=0 height=0> 
		<embed id="CaiNiaoPrint_EM" TYPE="application/x-cainiaoprint" width=0 height=0  ></embed>
	</object>
    <title>打印电子面单 - 快印物流仓储系统</title>
</head>
<body>
<div class="main" style="text-align:center;">
   <h3>打印电子面单</h3>
   <p>扫描商品条形码/拣货单条形码或者直接输入商品编号/拣货单号</p>
   <p>今天已生成快递单号： <span style="color:red;" id="todayPackNum">{$todayPackNum}</span></p>
   <p><input id="operator" type="hidden" class="input" placeholder="员工识别" /></p>
   <p><input id="the_num" type="text" class="input" placeholder="商品编号或拣货单号" value="{$pickId}"></p>
   <button id="dayin" class="btn btn-primary" type="button">打印</button>
   <a id="newDayin" style="font-size:8px;">补单/分包</a>
   <hr>
   <p id="textInfo"></p>
</div>
<!-- Modal -->
<div class="modal" id="warmDlg"  role="dialog" style="background-color: rgba(0,0,0,.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal close-btn"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <div id="warmMsg"></div>
            </div>
            <div class="modal-footer">
                <button id="sureBtn" type="button" class="btn btn-danger">确定</button>
                <button id="cancelBtn" type="button" class="btn btn-primary">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var CNPrint; //声明为全局变量

    var hasError = false;
    var waybillInfo = undefined;
    var trade_order_info = undefined;
    var consignee_address = undefined;


    $(function(){
        <empty name="pickId">
                $("#operator").val("admin");
                $("#the_num").focus().select();
                $("#the_num").keyup(function(){
                    if(event.keyCode == 13 || event.which == 13){
                        dayin();
                    }
                });
                $("#dayin").click(function(){
                    dayin(0);
                });

                $("#newDayin").click(function(){
                    if(window.confirm('确定生成新的包裹号，新的包裹号会申请新的快递单号，如果不是为了重发新包裹，不建议使用。')){
                        dayin(1);
                    }
                });
        <else />
                dayin();
                window.location.href = "/Index/Checkout/index";
        </empty>                

    });


    $("#sureBtn, #cancelBtn").on("click",function(){
        hasError = false;
        $("#warmDlg").hide();
        if(this.id == "sureBtn") {
            print();
        } else if(this.id == "cancelBtn") {
            $("#textInfo").html( $("#textInfo").html() + "<span style='color:red;'>该订单已取消打印</span></br>");
        }
    });

    function dayin(newPack){
        if(hasError) return;

        var operator = $("#operator").val();
        var the_num = $("#the_num").val();
        $("#the_num").val("");
        $("#the_num").focus().select();
        if(the_num[0] == 'p'){
                var msg = "拣货单：";
        }else{
                var msg="商品";
        }
        msg += the_num+" 开始打印电子面单……</br>";
        $("#textInfo").html(msg);
        $.post("/Index/Express/toPrint",{"the_num":the_num,"newPack":newPack,"operator":operator},function(res){
            if(res.status == 0){
                msg = msg + "<span style='font-size: 35px;font-weight: 700;color:red; border-top: solid 2px red; border-bottom: solid 2px red;'>" + res.data + "</span></br>" ;
                $("#textInfo").html(msg);
                return;
            }

            var mailInfo = res.data.mailInfo;
            //mailInfo = $.parseJSON(mailInfo);  //zepto 需要
            mailInfo = jQuery.parseJSON(mailInfo);
            //alert(mailInfo);
            //alert(mailInfo.waybill_apply_new_cols.waybill_apply_new_info.waybill_code);
            //return;

            waybillInfo = mailInfo.waybill_apply_new_cols.waybill_apply_new_info;
            trade_order_info = waybillInfo.trade_order_info;
            consignee_address = trade_order_info.consignee_address;

            var order = res.data.orderInfo;
            msg = msg + "快递号："+waybillInfo.waybill_code+"</br>";
            msg = msg + "收货人："+order.name+"</br>";
            msg = msg + "电话："+order.phone+"</br>";
            msg = msg + "地址："+order.province+order.city+order.area+order.street+"</br>";
            $("#textInfo").html(msg);

            $("#todayPackNum").html(res.data.todayPackNum);

        <empty name="pickId">
            if(res.data.isReYin == 1){
                //重复打印进行提示
                hasError = true;
                $("#warmMsg").html("该拣货单/商品是重复打印，是否继续打印?");
                $("#warmDlg").show();
                return;
            }
        </empty>
            print();
        });
    }

    function print() {
        //开始打印操作,TODO 带入具体数据
        CNPrint=getCaiNiaoPrint(document.getElementById('CaiNiaoPrint_OB'),document.getElementById('CaiNiaoPrint_EM'));
        CNPrint.PRINT_INITA("2mm",0,"100mm","180mm","菜鸟电子面单打印任务");  //菜鸟电子面单打印任务
        var AppKey="{$appkey}";
        var Seller_ID="{$sellid}";
        CNPrint.SET_PRINT_IDENTITY("AppKey="+AppKey+"&Seller_ID="+Seller_ID);
        CNPrint.SET_PRINT_MODE("CAINIAOPRINT_MODE","CP_CODE={$mailType}&CONFIG="+waybillInfo.print_config);//加载模板及模板辅助信息
        CNPrint.SET_PRINT_CONTENT("ali_waybill_product_type","标准快件");//单据类型
        CNPrint.SET_PRINT_CONTENT("ali_waybill_short_address",waybillInfo.short_address);
        CNPrint.SET_PRINT_CONTENT("ali_waybill_package_center_name",waybillInfo.package_center_name);//集散地名称
        CNPrint.SET_PRINT_CONTENT("ali_waybill_package_center_code",waybillInfo.package_center_code);//集散地条码
        CNPrint.SET_PRINT_CONTENT("ali_waybill_waybill_code",waybillInfo.waybill_code);
        CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_name",trade_order_info.consignee_name);
        CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_phone",trade_order_info.consignee_phone);
        CNPrint.SET_PRINT_CONTENT("ali_waybill_consignee_address",consignee_address.address_detail);//收件人地址

        // -------------- 未设置好部分  -----------------
        CNPrint.SET_PRINT_CONTENT("ali_waybill_send_name","魔力快印官方店");
        CNPrint.SET_PRINT_CONTENT("ali_waybill_send_phone","15960812280");
        CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_address","福建省厦门市海沧区海沧东孚浦头路9号");

        CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_branch_name",waybillInfo.shipping_branch_name); // 网点名称
        CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_branch_code",waybillInfo.shipping_branch_code); //发件网点代码
        CNPrint.SET_PRINT_CONTENT("ali_waybill_ext_send_date",{$maildate});  //发件日期

        CNPrint.SET_PRINT_CONTENT("ali_waybill_ext_sf_biz_type","标准快件");	  //业务类型，暂时使用韵达的
        CNPrint.SET_PRINT_CONTENT("ali_waybill_shipping_address_city","厦门市");

        CNPrint.SET_PRINT_STYLEA("ali_waybill_cp_logo_up","PreviewOnly",1);  //签收物流logo,1 只预览不打印
        CNPrint.SET_PRINT_STYLEA("ali_waybill_cp_logo_down","PreviewOnly",1);  //留存物流logo

//        CNPrint.PRINT_DESIGN();   //打印预览
        //CNPrint.PRINT_SETUP();   //启动打印设置页面
        CNPrint.PRINT();	//直接打印
    }

</script>
</body>
</html>