<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/new/wuliu.css">
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/new/topNav.css">
    <style>
        .panel-body div p:first-child{
            color:red;
        }
    </style>
    <title>快递查询</title>
</head>
<body>
<div class="wrap-div">
    <div class="top-div">
        <a href="javascript:;" onclick="history.go(-1);"><img src="<?php echo $resyuming; ?>resource/images/molika/new/image/back-btn.png" alt="" class="back-btn"></a>
        <span class="title-span">订单详情</span>
    </div>
    <div class="container-div">
        <div class="express-num-div">
            <img class="left-img" src="<?php echo $resyuming; ?>resource/images/molika/new/image/01-3.jpg">
            <div class="right-div">
                <p>
                    <span>物流状态</span>
                    <span class="express-status-style"><?php echo $status; ?></span>
                </p>
                <p>
                    <span>承运公司：</span><span><?php echo $company; ?></span>
                </p>
                <p>
                    <span>订单编号：</span><span><?php echo $oid; ?></span>
                </p>
                <!--<p>-->
                    <!--<span>运单编号：</span><span>NE04946247631</span>-->
                <!--</p>-->
            </div>
        </div>

        <!--  发货物流 -->
        <div class="express-info">
            <div class="express-content-div">
                <div class="express-content">

					<?php if(!empty($trace) && is_array($trace)){ ?>

					    <?php foreach($trace as $tk=>$tv){ ?>
                        <div class="express-part">
                            <span></span>
                            <p><?php echo $tv['station']; ?></p>
                            <p><?php echo $tv['time']; ?></p>
                        </div>
					    <?php } ?>

					<?php }else{ ?>

						<!-- 未发货  -->
        				<div class="express-no-wuliu" style="display: none">
        				    <img src="<?php echo $resyuming; ?>resource/images/molika/new/image/wuwuliu.png" alt="">
        				    <p>您的订单还未出库哦</p>
        				</div>

					<?php } ?>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>