<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/new/dingdanxq.css">
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/new/topNav.css">
    <title>订单详情</title>
</head>
<body>
    <div class="wrap-div">
        <div class="top-div">
            <!--<a href="#"><img src="<?php echo $resyuming; ?>resource/images/molika/new/image/back-btn.png" alt="" class="back-btn"></a>-->
            <span class="title-span">订单详情</span>
        </div>
        <div class="container-div">
            <img class="address-info-div-top-border" src="<?php echo $resyuming; ?>resource/images/molika/new/image/address-top-border.png">
            <div class="order-info-conmon-style order-status-div">
                <span>订单状态：<span class="pay-stasus-style">已付款</span></span>
                <span><?php echo $paidTime; ?></span>
            </div>
            <div class="order-info-div">
                <div class="order-info-conmon-style order-info-item-div">
                    <span>订单号：</span>
                    <span><?php echo $orderno; ?></span>
                </div>
                <div class="order-info-conmon-style order-info-item-div">
                    <span>商品：</span>
                    <span>6寸照片打印</span>
                </div>
                <div class="order-info-conmon-style order-info-item-div">
                    <span>价格：</span>
                    <span><?php echo $price; ?></span>
                </div>
                <div class="order-info-conmon-style order-info-item-div">
                    <span>邮费：</span>
                    <span>（韵达快递）￥0.0</span>
                </div>
                <!--
                <div class="order-info-conmon-style order-info-item-div">
                    <span>优惠：</span>
                    <span class="conpous-span">
                        <span>（满20元减5元）</span>－￥<span>5.0</span>
                    </span>
                </div>
                -->
                <div class="order-info-conmon-style order-info-item-div">
                    <span>实付：</span>
                    <span class="actually-paid">￥<span><?php echo $price; ?></span></span>
                </div>
            </div>
            <div class="order-address-div">
                <div class="order-address-info-div">
                    <span>收货人：</span>
                    <span><?php echo $name; ?></span>
                </div>
                <div class="order-address-info-div">
                    <span>手机号码：</span>
                    <span><?php echo $phone; ?></span>
                </div>
                <div class="order-address-info-div">
                    <span>收货地址：</span>
                    <span class="orderaddress-detail-span"><?php echo $address; ?></span>
                </div>
            </div>
        </div>
        <div class="bottom-div">
            <?php if(!empty($fromlist)){ ?>
		        <div class="bottom-btn" onclick="history.go(-1);">返回</div>
		    <?php }else{ ?>
		        <div class="bottom-btn" onclick="WeixinJSBridge.invoke('closeWindow',{},function(res){});">完成</div>
		    <?php } ?>
            <div class="bottom-btn" onclick="location.href = '/Index/Zpk/mail/oid/<?php echo $orderno; ?>';">查看物流</div>
        </div>
    </div>
</body>
</html>