<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo $titleName; ?></title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/swiper.min.css?v=<?php echo $static_v; ?>"/>
    <style>
        html, body {
            /*-webkit-touch-callout: none;*/
            /*-webkit-user-select:none;*/
            -ms-touch-action: none;
            background: #444444;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }

        #egret-canvas-container{
            background-color:#444444;
        }

		.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
			bottom:3px;
		}

        .wrap_init{
            width: 100%;
            height: 200px;
            background-color: #525252;
            overflow: hidden;
            z-index: 9999;
        }
        .wrap_init .wrap_init_info{
           width: 63%;
           /*height: 40px;*/
           position: relative;
           margin: 0 auto;
           margin-top: 20%;
        }
        .wrap_init_info>p{
            font-size: 0.6rem;
            position: absolute;
            top: -2.25rem;
            left: 0;
            color: #fff;
            left: 5px;
        }
        .wrap_init_info>input{
            width: 100%;
            height: 2.2rem;
            background-color: #F5B823;
            border: none;
            border-radius: 2rem;
            font-size: 0.8rem;
            color: #fff;
            -webkit-appearance: none;
        }

		.zpk_kuaiyin_yd_top-div{
		    /*position: fixed;*/
		    /*top: 0;*/
		    /*left: 0;*/
		    width: 100%;
		    height: 40px;
		    text-align: center;
		    line-height: 40px;
		    background-color: #fff;
		}

		.zpk_kuaiyin_yd_top-div>a{
			text-decoration: none;
		}

		.zpk_kuaiyin_yd_back-btn{
		    width: 25px;
		    height: 25px;
		    margin: 7.5px 0 0 14px;
		    float: left;
		}

		.zpk_kuaiyin_yd_title-span{
		    font-size: 18px;
		    padding-left: 19%;
		}

		.swiper-slide img{
		    width: 100%;
		}

        .zpk_kuaiyin_yd_select-pic-btn{
            width: 53%;
            height: 1.7rem;
            border: 1px solid #3B95FF;
            border-radius: 80px;
            text-align: center;
            line-height: 1.7rem;
            margin: 0.8rem auto 0;
        }

		.zpk_kuaiyin_yd_select-pic-btn>a{
		    text-decoration:none;
		    font-size:18px;
		    color:#3B95FF;
		}

		.zpk_kuaiyin_yd_mycard-span{
		    display: inline-block;
		    height:28px;
		    font-size: 13px;
		    color: #5BA6FF;
		    border: 1px solid #5BA6FF;
		    border-radius: 43px;
		    padding: 0 2%;
		    line-height: 28px;
		    float: right;
		    margin: 6px 3% 0;
		}

        .card_loading_spinner {
			display:none;
            width: 40px;
            height: 40px;
            margin: 0 auto;
			position: absolute;
        }
        .card_loading_double-bounce1,
        .card_loading_double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #EEB425;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        .card_loading_double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        @-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }
        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        .card_loading_sk-cube-grid {
            display:none;
            width: 40px;
            height: 40px;
            margin: 0 auto;
			position: absolute;
        }

        .card_loading_sk-cube-grid .card_loading_sk-cube {
            width: 33%;
            height: 33%;
            background-color: #FFC35E;
            float: left;
            -webkit-animation: card_loading_sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                    animation: card_loading_sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        }
        .card_loading_sk-cube-grid .card_loading_sk-cube1 {
          -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube2 {
          -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube3 {
          -webkit-animation-delay: 0.4s;
                  animation-delay: 0.4s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube4 {
          -webkit-animation-delay: 0.1s;
                  animation-delay: 0.1s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube5 {
          -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube6 {
          -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube7 {
          -webkit-animation-delay: 0s;
                  animation-delay: 0s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube8 {
          -webkit-animation-delay: 0.1s;
                  animation-delay: 0.1s; }
        .card_loading_sk-cube-grid .card_loading_sk-cube9 {
          -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s; }

        @-webkit-keyframes card_loading_sk-cubeGridScaleDelay {
          0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
                    transform: scale3D(1, 1, 1);
          } 35% {
            -webkit-transform: scale3D(0, 0, 1);
                    transform: scale3D(0, 0, 1);
          }
        }

        @keyframes card_loading_sk-cubeGridScaleDelay {
          0%, 70%, 100% {
            -webkit-transform: scale3D(1, 1, 1);
                    transform: scale3D(1, 1, 1);
          } 35% {
            -webkit-transform: scale3D(0, 0, 1);
                    transform: scale3D(0, 0, 1);
          }
        }
    </style>

    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/h5/loading.css?v=<?php echo $static_v; ?>"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/public.css?v=<?php echo $static_v; ?>"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/release.css?v=<?php echo $static_v; ?>"/>

    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/media.css?v=<?php echo $static_v; ?>"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/weui.min.css?v=<?php echo $static_v; ?>"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/fontEditor.css?v=<?php echo $static_v; ?>"/>

    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/waterfall.css?v=<?php echo $static_v; ?>"/>
    <link rel="stylesheet" href="<?php echo $resyuming; ?>resource/css/molika/theme_card.css?v=<?php echo $static_v; ?>"/>

    <script>

        <?php if($cid != 1){ ?>
        var cidone = false;
        <?php }else{ ?>
        var cidone = true;
        <?php } ?>

        var default_theme = '旅行4';
        var default_cards = {
            "n1": ["c21", "c22", "c23", "c24", "c25"],
            "n2": ["c26", "c27", "c28"],
            "n3": ["c29"],
            "n4": ["c30"]
        };
        var card_hash = '<?php if(empty($card_hash)){ echo $tmp_card_hash; }else{ echo $card_hash; } ?>';

        function addImgOnload(isrc, cb){
            var Img = new Image();
            Img.src = isrc;
            if(isrc.indexOf('http') == 0) {
                Img.crossOrigin = "Anonymous";
            }
            Img.onload = function () {
                cb();
            }
            Img.onerror = function() {
                cb();
            }
        }
    </script>

    <!--这个标签为通过egret提供的第三方库的方式生成的 javascript 文件-->
    <!--modules_files_start-->

    <if condition="$Think.APP_DEBUG">

    <!-- debug -->
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/egret/egret.js" src-release="<?php echo $resyumingn; ?>libs/modules/egret/egret.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/egret/egret.web.js" src-release="<?php echo $resyumingn; ?>libs/modules/egret/egret.web.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/game/game.js" src-release="<?php echo $resyumingn; ?>libs/modules/game/game.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/game/game.web.js" src-release="<?php echo $resyumingn; ?>libs/modules/game/game.web.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/tween/tween.js" src-release="<?php echo $resyumingn; ?>libs/modules/tween/tween.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/res/res.js" src-release="<?php echo $resyumingn; ?>libs/modules/res/res.min.js"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/neoges_lib/neoges_lib.js" src-release="<?php echo $resyumingn; ?>libs/modules/neoges_lib/neoges_lib.min.js"></script>
	<script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/gesture/gesture.js" src-release="<?php echo $resyumingn; ?>libs/modules/gesture/gesture.min.js"></script>

    <else />

    <!-- release -->
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/egret/egret.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/egret/egret.web.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/game/game.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/game/game.web.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/tween/tween.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/res/res.min.js?v=<?php echo $static_v; ?>"></script>
    <script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/neoges_lib/neoges_lib.min.js?v=<?php echo $static_v; ?>"></script>
	<script egret="lib" src="<?php echo $resyumingn; ?>libs/modules/gesture/gesture.min.js?v=<?php echo $static_v; ?>"></script>

    </if>

    <!--modules_files_end-->

    <!--这个标签为不通过egret提供的第三方库的方式使用的 javascript 文件，请将这些文件放在libs下，但不要放在modules下面。-->
    <!--other_libs_files_start-->
    <!-- <script egret="lib" src="libs/xx/xxx.js" src-release="libs/xx/xxx.min.js"></script> -->
    <!--other_libs_files_end-->

    <!--这个标签会被替换为项目中所有的 javascript 文件-->
    <!--game_files_start-->

    <if condition="$Think.APP_DEBUG">

    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Asset.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Animate.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Background.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Card.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Image.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Shape.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Stick.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Text.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Asset/Top.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Editor.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Effect/Effect.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Effect/Animate.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Effect/EffectEvent.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Effect/Html.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Global/DataManager.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Global/EventManager.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Global/ObjectManager.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/LoadingUI.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Main.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Base.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/interfaceBase.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Animate.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/AssetControl.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Background.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Clipboard.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Editor.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Garbage.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Image.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Menu.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Shape.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Stick.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/MobileEditor/Text.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Player.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Third/Formdatashim.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Third/ImageUpload.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Third/PictureLoader.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Third/Upyun.js"></script>
    <script egret="game" src="<?php echo $resyumingn; ?>bin-debug/Third/Qiniu.js"></script>

    <else />

    <script src="<?php echo $resyumingn; ?>bin-release/web/1.0/main.min.js?v=<?php echo $static_v; ?>"></script>

    </if>

    <!--game_files_end-->
</head>
<body>

<div class="init_page" style="display:none;z-index: 9999;position: fixed;top: 0;width: 100%;height: 100%;background-color: #fff;">
	<div class="zpk_kuaiyin_yd_top-div">
        <a href="javascript:;"><img onclick="history.go(-1);" src="<?php echo $resyuming; ?>resource/images/molika/new/image/back-btn.png" alt="" class="zpk_kuaiyin_yd_back-btn"></a>
        <span class="zpk_kuaiyin_yd_title-span">照片卡</span>
        <a href="/index/zpk/orderlist"><span class="zpk_kuaiyin_yd_mycard-span">我的照片卡</span></a>
    </div>
    <div class="zpk_kuaiyin_yd_banner">
        <div class="swiper-container" id="banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#"><img src="<?php echo $resyuming; ?>resource/images/molika/index/w1.jpg"/></a></div>
                <div class="swiper-slide"><a href="#"><img src="<?php echo $resyuming; ?>resource/images/molika/index/w2.jpg"/></a></div>
                <div class="swiper-slide"><a href="#"><img src="<?php echo $resyuming; ?>resource/images/molika/index/w3.jpg"/></a></div>
            </div>
            <div class="swiper-pagination swiper-pagination-h"></div>
        </div>
        <div class="zpk_kuaiyin_yd_select-pic-btn"><a href="javascript:;" onclick="addInitImage('first');">选择照片</a></div>
    </div>
</div>

<div class="photo_hall" style="display:none;z-index: 9998;position: fixed;top: 0;width: 100%;height: 100%;background-color: #fff;">
	<div class="zpk_banner">
		<img src="<?php echo $resyuming; ?>resource/images/molika/new/image/back-btn.png" onclick="back_to_init_page()" alt="">
		<span>选择照片</span>
	</div>
    <div id="zpk_wf_main"></div>
	<div class="zpk_wf_bottom">
		<p>已添加: <small id="zpk_wf_pn">23</small>张</p>
		<span class="zpk_wf_line"></span>
		<div class="zpk_wf_btn">
			<input style="-webkit-appearance: none;" type="button" value="添加照片" id="photo_hall_add" class="zpk_wf_left zpk_wf_com">
			<input style="-webkit-appearance: none;" type="button" value="生成照片卡" id="photo_hall_end" class="zpk_wf_right zpk_wf_com">
		</div>
	</div>
</div>

<div class="initLoading" style="display:none;position: fixed;top: 0px;height: 100%;z-index: 99999;background-color:#333;width: 100%;">'
    <!-- id: init_loading_text -->
	<div class="zpk_loading_wrap">
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/card1.png" height="73" width="47" alt="" class="zpk_loading_card1">
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/card2.png" height="73" width="52" alt="" class="zpk_loading_card2">
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/Star1.png" height="25.5" width="25.5" alt="" class="zpk_loading_star1 zpk_loading_star">
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/Star2.png" height="14" width="14" alt="" class='zpk_loading_star2 zpk_loading_star'>
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/Star2.png" height="14" width="14" alt="" class='zpk_loading_star3 zpk_loading_star'>
		<img src="<?php echo $resyuming; ?>resource/images/molika/loading/Star2.png" height="14" width="14" alt="" class='zpk_loading_star4 zpk_loading_star'>
	</div>
	<div class="zpk_loading_word">
		<span style="transition: all 0.4s linear 0s;">正</span>
		<span style="transition: all 0.4s linear 0.4s;">在</span>
		<span style="transition: all 0.4s linear 0.8s;">生</span>
		<span style="transition: all 0.4s linear 1.2s;">成</span>
		<span style="transition: all 0.4s linear 1.6s;">照</span>
		<span style="transition: all 0.4s linear 2.0s;">片</span>
		<span style="transition: all 0.4s linear 2.4s;">卡</span>
		<span style="transition: all 0.4s linear 2.8s;">……</span>
	</div>
</div>

<script>

    // 是否编辑模式
    var editor_mode = false;

    var terminal = '<?php echo $terminal; ?>';

    var playerx = parseInt('<?php echo $playerx; ?>');
    var playery = parseInt('<?php echo $playery; ?>');
    var playerWidth = parseInt('<?php echo $playerWidth; ?>');
    var playerHeight = parseInt('<?php echo $playerHeight; ?>');
    var stageWidth = parseInt('<?php echo $stageWidth; ?>');
    var stageHeight = parseInt('<?php echo $stageHeight; ?>');

</script>

<div style="margin: auto;width: 100%;height: 100%;" class="egret-player" id="egret-canvas-container"
     data-entry-class="Main"
     data-orientation="auto"
     data-scale-mode="showAll"
     data-resolution-mode="retina"
     data-frame-rate="60"
     data-content-width="<?php echo $stageWidth; ?>"
     data-content-height="<?php echo $stageHeight; ?>"
     data-show-paint-rect="false"
     data-multi-fingered="2"
     data-show-fps="false" data-show-log="false"
     data-log-filter="" data-show-fps-style="x:0,y:0,size:30,textColor:0x00c200,bgAlpha:0.9">
</div>

<!-- 图片上传使用 -->
<div style="display:none;" id="upyun_uid"><?php echo $uid; ?></div>

<!-- 底部编辑按钮区域 -->

<div style="display:none;background-color: #444444;" id="edit_btns" class="zpk_bottom">
	<div class="zpk_line"></div>
    <div class="zpk_topic">
		<img src="<?php echo $resyuming; ?>resource/images/molika/zhuti.png"  alt="">
		<span>替换模板</span>
	</div>

    <div class="zpk_btn zpk_btn_topic">
		<div class="zpk_btn_wrap1 zpk_btn5" style="width: 80px;" id="switch_theme">
			<img src="<?php echo $resyuming; ?>resource/images/molika/topic.png"alt="" width="60" height="60">
			<p style="margin-left:0px">按主题划分</p>
		</div>
		<div class="zpk_btn_wrap1 zpk_btn6" style="width: 80px;" id="switch_card">
			<img src="<?php echo $resyuming; ?>resource/images/molika/format.png"alt="" width="60" height="60">
			<p style="margin-left:0px">按版式划分</p>
		</div>
		<img src="<?php echo $resyuming; ?>resource/images/molika/closepopup.png"alt="" class="zpk_btn1">
	</div>
	<div class="zpk_main">
		<img src="<?php echo $resyuming; ?>resource/images/molika/mian.png"  alt="">
	</div>
	<div class="zpk_small_print">
		<img src="<?php echo $resyuming; ?>resource/images/molika/print.png"  alt="">
		<span>确认打印</span>
	</div>

    <div class="zpk_btn zpk_btn_main">
		<div id="add_text_btn" class="zpk_btn_wrap zpk_btn2">
			<img src="<?php echo $resyuming; ?>resource/images/molika/word.png"alt="" width="60" height="60">
			<p>文字</p>
		</div>
		<div id="add_card_btn" class="zpk_btn_wrap zpk_btn3" >
			<img src="<?php echo $resyuming; ?>resource/images/molika/card.png"alt="" width="60" height="60">
			<p>卡片</p>
		</div>
		<div id="add_image_btn" class="zpk_btn_wrap zpk_btn4">
			<img src="<?php echo $resyuming; ?>resource/images/molika/tiezhi.png"alt="" width="60" height="60">
			<p>贴纸</p>
		</div>
		<img src="<?php echo $resyuming; ?>resource/images/molika/closepopup.png"alt="" class="zpk_btn1">
	</div>
</div>

<div style="display:none;background-color:#444444;" id="fontEditBtn" class="zpk_bottom">
	<div class="zpk_line"></div>
	<input id="fontEditBtn_text" type="button" value="输文字">
	<input id="fontEditBtn_font" type="button" value="换样式">
	<input id="fontEditBtn_random" type="button" value="随机美文">
</div>

<div style="display:none;background-color:#444444;" id="preview_btns" class="zpk_bottom">
	<div class="zpk_line"></div>
	<div class="zpk_print">
    	<img src="<?php echo $resyuming; ?>resource/images/molika/print.png" alt="">
    	<span>立即打印</span>
    </div>
</div>

<?php if(!empty($new_user)){ ?>
<div style="display:none;position: fixed;top: 0px;height: 100%;z-index: 99999;background-color:#333;width: 100%;" id="new_user_info">
	<img style="width:100%;height:100%" src="<?php echo $resyuming; ?>resource/images/molika/index/info.jpg" alt="">
</div>
<script>
var new_user_info = document.getElementById('new_user_info');
new_user_info.onclick = function(e) { this.parentNode.removeChild(this) };
</script>
<?php } ?>

<!-- 文字编辑 -->
<div style="display:none;" class="zpk_fontEditor_container">
	<div id="zpk_fontEditor_btn">
		<a href="javascript:;" id="fontEditor_cancel" class="weui_btn weui_btn_mini weui_btn_default">取消</a>
		<a href="javascript:;" id="fontEditor_ok" class="weui_btn weui_btn_mini weui_btn_primary">确认</a>
	</div>
	<div class="weui_cells weui_cells_form" style="width:95%;margin:0 auto;margin-top: 1.17647059em;border-radius:4px">
    	<div class="weui_cell">
    	    <div class="weui_cell_bd weui_cell_primary">
    	        <textarea id="fontEditor_textarea" class="weui_textarea" placeholder="这里输入您要输入的文字……" onkeyup="window['html5editor'].checkTextLimit()" rows="3" ></textarea>
    	        <div class="weui_textarea_counter" id="text_num">0/200</div>
    	    </div>
    	</div>
	</div>
    <div id="too_long_tips" style="color: white;font-size: 14px;padding: 8px 0;display: none;text-align: center;">您的输入过长会影响模板美观,请删减部分文字后重试</div>
</div>

<div class="zpk_payorder_container" style="display:none;">
	<div class="zpk_payorder_wrap">
        <div class="zpk_kuaiyin_xd_top-div">
            <a href="javascript:;" onclick="$('.zpk_payorder_container').css('display','none');"><img src="<?php echo $resyuming; ?>resource/images/molika/new/image/back-btn.png" alt="" class="zpk_kuaiyin_xd_back-btn"></a>
            <span class="zpk_kuaiyin_xd_title-span">订单详情</span>
        </div>
		<div class="zpk_kuaiyin_xd_container-div">
            <div class="zpk_kuaiyin_xd_address-info-div">
                <img class="zpk_kuaiyin_xd_address-info-div-top-border" src="<?php echo $resyuming; ?>resource/images/molika/new/image/address-top-border.png" alt="">
                <div class="zpk_kuaiyin_xd_address-info-title"><span>地址信息</span></div>
                <div class="zpk_kuaiyin_xd_address-info-container">
                    <div class="zpk_kuaiyin_xd_address-info-conmon">
                        <span>收货人</span><input id="weui_pay_name" type="text" placeholder="收件人姓名">
                    </div>
                    <div class="zpk_kuaiyin_xd_address-info-conmon">
                        <span>手机号码</span><input id="weui_pay_phone" type="text" placeholder="收件人手机号码">
                    </div>
                    <div class="zpk_kuaiyin_xd_address-info-conmon">
                        <span>收货地址</span>
                        <div id="zpk_payorder_address" class="zpk_kuaiyin_xd_shdi-div">
                            <select id="weui_pay_province" class="prov zpk_kuaiyin_xd_form-control" name="province"></select>
                            <select id="weui_pay_city" class="city zpk_kuaiyin_xd_form-control" name="city"></select>
                            <select id="weui_pay_area" class="area zpk_kuaiyin_xd_form-control" name="area"></select>
                        </div>
                    </div>
                    <div class="zpk_kuaiyin_xd_address-info-conmon">
                        <span>详细街道</span><input id="weui_pay_street" type="text" placeholder="详细地址">
                    </div>
                </div>
            </div>
            <div class="zpk_kuaiyin_xd_goods-info-div">
                <div class="zpk_kuaiyin_xd_goods-info-title"><span>商品详情</span></div>
                <div class="zpk_kuaiyin_xd_goods-info-container">
                    <div class="zpk_kuaiyin_xd_goods-conmon">
                        <span>商品:</span><span id="pay_photo_number"></span><span></span>
                    </div>
                    <div class="zpk_kuaiyin_xd_goods-conmon">
                        <span>价格:</span><span><span class="red-prize" id="pay_photo_price"></span></span>
                    </div>
                    <div class="zpk_kuaiyin_xd_goods-conmon">
                        <span>小计:</span><span class="pay_total_price"></span>
                    </div>
                </div>
            </div>
            <div class="zpk_kuaiyin_xd_post-prise-info-div">
                <span>邮费：</span>
                <span>（韵达快递）￥0.0</span>
            </div>
            <div class="zpk_kuaiyin_xd_pay-info-div">
                <span>支付方式：</span>
                <span>微信支付</span>
            </div>
            <div class="zpk_kuaiyin_xd_pay-plus-info-div">
                <div style="padding:10px 10px 0 19px;">说明：第一组15元（10张为一组），超过10张每张加收1元，全国包邮</div>
            </div>
        </div>
        <div class="zpk_kuaiyin_xd_bottom-div">
            <div class="zpk_kuaiyin_xd_bottom-left-div">
                <span class="zpk_kuaiyin_xd_bottom-left-div-left">总计:<span class="pay_total_price"></span></span>
                <!--<span class="zpk_kuaiyin_xd_bottom-left-div-right">已优惠￥5</span>-->
            </div>
            <div id="zpk_payorder_confirmPay" class="zpk_kuaiyin_xd_bottom-right-div">确认支付</div>
        </div>
	</div>
</div>

<div class="zpk_payordercheck_container" style="display:none;">
	<div class="zpk_payordercheck_title">订单信息</div>
	<div class="zpk_payordercheck_box1">
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">订单号:</div>
			<div class="zpk_payordercheck_order_info_detail">1234567890</div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">商品:</div>
			<div class="zpk_payordercheck_order_info_detail">魔力相册照片打印</div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">金额:</div>
			<div class="zpk_payordercheck_order_info_detail">15元</div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">订单状态:</div>
			<div class="zpk_payordercheck_order_info_detail"><span>下单成功</span></div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">下单时间:</div>
			<div class="zpk_payordercheck_order_info_detail">2016-04-27 14:28</div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">收货人:</div>
			<div class="zpk_payordercheck_order_info_detail">测试</div>
		</div>
		<div class="zpk_payordercheck_box2">
			<div class="zpk_payordercheck_order_info_title">联系电话:</div>
			<div class="zpk_payordercheck_order_info_detail">13333333333</div>
		</div>
		<div>
			<div class="zpk_payordercheck_order_info_title">收货地址:</div>
			<div class="zpk_payordercheck_order_info_detail">测试测试测试测试测试测试</div>
		</div>
	</div>
	<div class="zpk_payordercheck_bottom_btn">
		<div style="width:90%;margin-left:5%;" onclick="$('.zpk_payordercheck_container').css('display','none');$('.zpk_payorderok_container').css('display','block');">
			<a href="javascript:;" class="weui_btn weui_btn_primary" >完成</a>
		</div>
	</div>
</div>

<!-- old loading -->
<!--
<div class="card_loading_spinner">
  <div class="card_loading_double-bounce1"></div>
  <div class="card_loading_double-bounce2"></div>
</div>
-->
<?php if($cid != 1){ ?>
<div class="card_loading_sk-cube-grid">
  <div class="card_loading_sk-cube card_loading_sk-cube1"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube2"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube3"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube4"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube5"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube6"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube7"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube8"></div>
  <div class="card_loading_sk-cube card_loading_sk-cube9"></div>
</div>
<?php } ?>

<script src="<?php echo $resyuming; ?>resource/js/zepto.min.js"></script>
<script src="<?php echo $resyuming; ?>resource/js/base64.min.js"></script>
<script src="<?php echo $resyuming; ?>resource/js/md5.min.js"></script>
<script src="<?php echo $resyuming; ?>resource/js/browser.js"></script>

<script src="<?php echo $resyuming; ?>resource/js/molika/swiper.min.js"></script>
<script src='<?php echo $resyuming; ?>resource/js/molika/waterfall.js?v=<?php echo $static_v; ?>'></script>

<script src='<?php echo $resyuming; ?>resource/js/molika/cityMap.js'></script>
<script src='<?php echo $resyuming; ?>resource/js/molika/addSelect.js'></script>

<script src='<?php echo $resyuming; ?>resource/egret_res_array.js?v=<?php echo $static_v; ?>'></script>
<script src='<?php echo $resyuming; ?>resource/theme_card.js?v=<?php echo $static_v; ?>'></script>
<script src='<?php echo $resyuming; ?>resource/tiezhi.js?v=<?php echo $static_v; ?>'></script>

<script>

    var online_test = false;
    var online_test = true;

    // old loading
    /*
	var cls_l = $(window).width()/2 - 20;
	var cls_t = $(window).height()/2 - 20 - 76;
	$('.card_loading_spinner').css({
		'left': cls_l + 'px',
		'top':  cls_t + 'px'
	});
	*/
    var cls_l = $(window).width()/2 - 20;
	var cls_t = $(window).height()/2 - 20 - 76;
	$('.card_loading_sk-cube-grid').css({
		'left': cls_l + 'px',
		'top':  cls_t + 'px'
	});

    $(document).on('touchstart','.tiezhi_banner_ul>li',function(){
	    var data=$(this).attr('data');
	    $('.tiezhi_banner_ul>li').removeClass('active');
	    $(this).addClass('active');
	    $('.zpk_tiezhi_pic').css('display','none');
	    $('.zpk_tiezhi_'+data).css('display','block');
	});

    $(document).on('touchstart','.theme_banner_ul>li',function(){
	    var data=$(this).attr('data');
	    $('.theme_banner_ul>li').removeClass('active');
	    $(this).addClass('active');
	    $('.zpk_theme_pic').css('display','none');
	    $('.zpk_theme_'+data).css('display','block');
	});

    function setContentTab(curr, n) {
        var menu = $('.tab_'+curr);
        var cont = $("#zpk_single_cont_" + curr);
        //console.log(menu,cont);
        for(i=1;i<=n;i++){
        	$('.tab_'+i).removeClass('active');
            $('.tab_'+i).children().removeClass('active');
        	$('.tab_'+i+'>a').html(i+'张')
        	$("#zpk_single_cont_" + i).css({display:'none'});
        }

        if(menu.hasClass('active')){
        	$('.tab_'+curr+'>a').html(curr+'张照片');
        	cont.css({display:'block'});
        }else{
        	$('.tab_'+curr+'>a').html(curr+'张照片');
        	menu.addClass('active');
            menu.children().addClass('active');
        	cont.css({display:'block'});
        }
    }

	/*
    $(function(){
    	var wh=$(window).height();
		$(window).resize(function(){
			if($(window).height()<wh){
				$('#zpk_payorder_confirmPay').css('display','none');
			}else{
				$('#zpk_payorder_confirmPay').css('display','block');
			}
		});
	});
	*/

    if(editor_mode){
        $('#edit_btns').show();
    }else{
        $('#preview_btns').show();
    }

    var old_base_width = 660;
    var cid = '<?php echo intval($cid); ?>';
    var resurl = '<?php echo $resyuming; ?>';
    var picurl = '<?php if(!empty($ZPK_PIC_SERVER)){ echo $ZPK_PIC_SERVER."/"; }else{ echo ""; } ?>';
    var serverurl = '<?php echo $server_url; ?>';
    var static_v = '<?php echo $static_v; ?>';
    var thumb_suffix = '!/fw/160';

    <?php if(!empty($is_wx)){ ?>
        var is_wx = true;
    <?php }else{ ?>
        var is_wx = false;
    <?php } ?>

    // $('.zpk_bottom').on('click',function(){
    //     if(typeof ObjectManager.EDITOR != 'undefined'){
    //         ObjectManager.EDITOR.dispatchEventWith(EventManager.DISABLE_ASSET);
    //     }
    // });

</script>

<script src="<?php echo $resyuming; ?>resource/js/customPopup.js"></script>
<script src="<?php echo $resyuming; ?>resource/js/h5/html5editor.js?v=<?php echo $static_v; ?>"></script>

<!-- 新手引导 -->
<div class="xsyd_maskDiv" style="display:none;"></div>

<script>

    var win_w=$(window).width();
    var win_h=$(window).height();

    if(win_w/win_h>0.68){
        $('#banner img').each(function( k, v ) {
            var idx = k + 1;
            $(v).attr('src','<?php echo $resyuming; ?>resource/images/molika/index/ww'+idx+'.jpg')
        });
    }

    if(cid != 0){
        window['html5editor'].addInitLoading();
        $('.zpk_loading_word span').removeClass('close').addClass('open');
    }else{
        $('.init_page').css('display','block');
		var swiperH = new Swiper('#banner', {
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            loop: true,
            autoplay: 2000,
            speed:1300,
            autoplayDisableOnInteraction:false
        });
		/*
        var swiper_con_height = $('.swiper-container').height();
        if(swiper_con_height != 0){
            var picH=$(window).width()/2*568/368; // w:368 h:568
            $('.swiper-slide').css('height',picH);
            var h = $(window).height()-$('.swiper-container').height();
            $('.wrap_init').css('height',h);
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                loop:true,
                slidesPerView: 'auto',
                coverflow: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true
                },
                onClick: function(swiper){
                    var str = $('.swiper-slide-active').attr('data');
                    var theme_arr = str.split('/');
                    var theme_str = theme_arr[0];
                    var theme_card_str = theme_arr[1];
                    window['default_theme'] = theme_card_str;
                    window['default_cards'] = window['theme_card_json']['Themes'][theme_str][theme_card_str]['cards'];
                    $('.wrap_init_info > input').trigger('click');
                }
            });

        }
        */
    }
</script>

<?php if(!empty($is_wx)){ ?>
<script src="<?php echo 'http://'.$_SERVER['HTTP_HOST']; ?>/Public/JS/app/wx.js?v=<?php echo $static_v; ?>"></script>
<script>

    wx_root_url = '/index/zpk/';
    wx_root_sid = <?php echo intval($cid); ?>;

    wxConfig={
        share_appid:"",
        share_img_link:"",
        share_link:"",
        share_title:"",
        share_desc:"",
        sendAppMsgCancel:sendAppMsgCancel,
        sendAppMsgOK:sendAppMsgOK,
        shareTimeLineOK:shareTimeLineOK,
        callback:function(res){
            switch(res.err_msg) {
                case "share_timeline:confirm":
                case "share_timeline:ok":
                    shareTimeLineOK();
                    break;
                case "send_app_msg:confirm":
                case "send_app_msg:ok":
                    sendAppMsgOK();
                    break;
                default:
                    sendAppMsgCancel();
                    break;
            }
        }
    };

    // link title desc img
    setsharedata('<?php echo 'http://'.$_SERVER['HTTP_HOST']; ?>/index/zpk/show',"<?php echo $titleName; ?>",'<?php echo $shareDesc;?>','<?php echo $shareImg; ?>');
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '<?=$wxappid?>',
        timestamp: <?=$wxtime?>,
        nonceStr: '<?=$nonceStr?>',
        signature: '<?=$signature?>',
        jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'chooseImage',
        'uploadImage',
        'downloadImage',
		'previewImage'
        ]
    });

    var wx_is_ready = false;

    wx.ready(function () {
        wx_is_ready = true;
        if(cid != 0){
            egret.runEgret({renderMode:"canvas"});
        }
        refreshWxShareData();
    });
</script>
<?php } ?>

<script>
    var init_wx_photo = [];

	function back_to_init_page(){
		init_wx_photo = [];
		$('#zpk_wf_main').empty();
		$('.init_page').css('display','block');
		$('.photo_hall').css('display','none');
	}

    function addInitImage(){
        if(wx_is_ready){
            wx.chooseImage({
                count: 9, // 默认9
                sizeType: ['original'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album'], // 可以指定来源是相册还是相机，默认二者都有 ['album', 'camera']
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    var len = localIds.length;
                    var loaded = 0;
                    for(var idx=0;idx<len;++idx) {
                        init_wx_photo.push(localIds[idx]);
                        addImgOnload(localIds[idx],function(){
                            loaded++;
                            if(loaded == len){
                                generate_waterfall();
                            }
                        });
                    }
                }
            });
        }
    }

    function generate_waterfall(data){
        var inset_html = '';
        function generate_html(v){
            inset_html += '<div class="zpk_wf_pin">';
            inset_html += '<div class="zpk_wf_box">';
            inset_html += '<img class="pin_inner_img" src="'+v+'" alt="" >';
            inset_html += '<img data-v="'+v+'" src="<?php echo $resyuming; ?>resource/images/molika/zpk_img/icon.png" height="24" width="24" alt="" class="zpk_wf_icon">';
            inset_html += '</div>';
            inset_html += '</div>';
        }
        if(typeof data != 'undefined'){
            data.forEach(generate_html);
        }else{
            init_wx_photo.forEach(generate_html);
            // 绑定按钮方法
			$('#photo_hall_add').off('click');
            $('#photo_hall_add').on('click',function(e){
                e.preventDefault();
                e.stopPropagation();
                wx.chooseImage({
                    count: 9, // 默认9
                    sizeType: ['original'], // 可以指定是原图还是压缩图，默认二者都有
                    sourceType: ['album'], // 可以指定来源是相册还是相机，默认二者都有 ['album', 'camera']
                    success: function (res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                        var len = localIds.length;
                        var temp_arr = [];
                        var need = 0;
                        for(var idx=0;idx<len;++idx) {
                            if(init_wx_photo.indexOf(localIds[idx]) == -1) {
                                temp_arr.push(localIds[idx]);
                                init_wx_photo.unshift(localIds[idx]);
                                need++;
                            }
                        }
                        var loaded = 0;
                        for(var j = 0;j < need;j++){
                            addImgOnload(temp_arr[j],function(){
                                loaded++;
                                if(loaded == need){
                                    generate_waterfall(temp_arr);
                                }
                            });
                        }
                    }
                });
                return false;
            });
			$('#photo_hall_end').off('click');
            $('#photo_hall_end').on('click',function(e){
                // 整理数据
                var logic = window['theme_card_json']['Logic'];
                var user_photo_len = init_wx_photo.length;
                if(user_photo_len == 0){
                    alert('请至少选择一张图片');
                    return;
                }
                var card_set = '';
                var base = 20;
                var times = Math.floor(user_photo_len / base);
                var left = user_photo_len % base;
                if(times < 1){
                    var logic_key = left + '';
                    card_set = logic[logic_key];
                }else{
                    for(var i = 0; i < times; i++){
                        var logic_key = base + '';
                        card_set += logic[logic_key];
                    }
                    if(left != 0) {
                        var logic_key = left + '';
                        card_set += logic[logic_key];
                    }
                }
                // 开loading
                window['html5editor'].addInitLoading();
                $('.zpk_loading_word span').removeClass('close').addClass('open');
                // 关闭water_hall
                $('.photo_hall').css('display','none');

                // 打开新手引导
                $('#new_user_info').css('display','block');

                // ajax 获取 default_cards 内容
                window['html5editor'].getCardTemplate([window['default_cards']],function(data){

                    if(data['status'] == 'ok'){
                        window['initThemeCallback'] = function(){
                            ObjectManager.EDITOR.initTheme(data,card_set,init_wx_photo);
                        };
                        egret.runEgret({renderMode:"canvas"});
                    }else{
                        alert('出现错误:'+data['result']);
                    }

                });
                e.preventDefault();
                e.stopPropagation();
                return false;
            });
        }

        $('#zpk_wf_pn').html(init_wx_photo.length);

        $('.photo_hall').css('display','block');

        $('#zpk_wf_main').prepend(inset_html);
        waterfall('zpk_wf_main', init_wx_photo);

        if(typeof data == 'undefined'){
            $('.init_page').css('display','none');
        }
    }

    // egret 初始化后会调用
    function egret_zone_loaded(){
        // 新手引导
        $('.xsyd_maskDiv').on('click',function(){
            $(this).hide();
        });
    }
</script>

</body>
</html>
