<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>
    <link rel="stylesheet" href="{$resyuming}Public/css/index.css?v={$static_v}"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <title>魔力快印</title>
</head>
<body>

<style>
    .deal-img {
        width: 4.4rem;
        height: 5rem;
        margin: .15rem;
    }
</style>


<div class="panel panel-default" id="picsView">
    <div class="panel-heading">选择需要打印的照片</div>
    <div class="panel-body">
        <div class="clearfix" id="picsGroup">
            <form><input type="file" id="upload" multiple="multiple" accept="image/png, image/jpeg, image/jpg"></form>
        </div>
        <div class="clearfix">
            <button class="btn btn-success" id="uploadBtn" type="button">添加照片</button>
            <span id="picInfo" style="display:none;">您已添加 <span style="color:red;" id="picInfoNum">0</span> 张照片，预计总费用 <span style="color:red;" id="picInfoPrice">0</span> 元 </span><br>
            <span>（20 张以内包邮9.9 元，每多20 张加8.9 元）</span>
        </div>
    </div>
</div>

<div class="panel panel-default" id="orderView">
    <div class="panel-heading">收货信息</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="control-label" for="name">收货人姓名</label>
                <input class="form-control"
                       id="name"
                       name="name"
                       type="text"
                       value="{$contactData.name|default=''}"
                       placeholder="联系人姓名">
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">联系电话</label>
                <input class="form-control"
                       id="phone"
                       name="phone"
                       type="text"
                       value="{$contactData.phone|default=''}"
                       placeholder="联系人电话">
            </div>
            <div class="form-group">
                <label class="control-label">收货地址</label>
                <div id="address">
                    <select class="prov form-control" name="province"></select>
                    <select class="city form-control" name="city"></select>
                    <select class="area form-control" name="area"></select>
                </div>
                <div>
                    <input class="form-control"
                           id="street"
                           name="street"
                           type="text"
                           value="{$contactData.street|default=''}"
                           placeholder="邮寄街道">
                </div>
                <pre id="exceptAreaTip">此地区属于偏远地区，需加邮费 10 元</pre>
            </div>
            <div class="form-group">
                <label class="control-label" for="message">留言</label>
                <input class="form-control"
                       id="message"
                       name="message"
                       type="text"
                       value="{$orderData.message|default=''}"
                       placeholder="客户留言，可以不填写">
            </div>
            <div class="form-group">
                <label class="control-label" for="old_order">订单号</label>
                <input class="form-control"
                       id="old_order"
                       name="old_order"
                       type="text"
                       value=""
                       placeholder="填写则往该订单内补充图片而非新建订单,可不填">
            </div>
            <div class="form-group">
                <!-- <button class="btn btn-primary" id="saveBtn" type="button" >保存订单</button> -->
                <button class="btn btn-danger" id="submitBtn" type="button" >提交订单</button>
            </div>
        </form>
    </div>
</div>

<div id="cover">
    <p style="margin-top: 200px;">上传第<span id="coverPicNum">1</span>张照片中<span id="coverProNum">(0%)</span>...</p>
</div>

<!-- Modal -->
<div class="modal" id="submitDlg"  role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal close-btn"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提交订单</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">提交密码</label>
                    <input class="form-control" id="surePwd" type="password" placeholder="提交密码">
                </div>
            </div>
            <div class="modal-footer">
                <button id="sureBtn" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    var uploadCfg = {
        cid : {$orderData.cid|default='null'},
        aid : {$orderData.aid|default='null'},
        wxType : "{$wxType|default='wx'}",
        wxLocalType : "{$wxLocalType|default='wxLocal'}",
        uploadType : "{$uploadType|default='upyun'}",
        province: "{$contactData.province|default=''}",
        city : "{$contactData.city|default=''}",
        area: "{$contactData.area|default=''}"
    }

    var userId = {$userId|default='0'};

    var directUpload = true;
</script>

<div class="panel panel-default" id="badImgView" style="display:none;">
    <div class="panel-heading">损坏的照片</div>
    <div class="panel-body">
        <div class="clearfix" id="badImgGroup">
            <div id="badImgGroupBox"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="panel panel-default" id="errorImgView" style="display:none;">
    <div class="panel-heading">上传失败的照片</div>
    <div class="panel-body">
        <div class="clearfix" id="errorImgGroup">
            <div id="errorImgGroupBox"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script src="{$resyuming}Public/js/zepto.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/md5.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/base64.min.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/upyun.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/cityMap.js?v={$static_v}"></script>
<script src="{$resyuming}Public/js/admin/newOrder.js?v={$static_v}"></script>
</body>
</html>