<!DOCTYPE html>
<html>
<head lang="en">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="no-cache" http-equiv="Pragma">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="telephone=no, address=no" name="format-detection">
    <link rel="stylesheet" href="{$resyuming}Public/css/bootstrap.min.css?v={$static_v}"/>
    <link rel="stylesheet" href="{$resyuming}Public/css/admin.css?v={$static_v}"/>
    <script src="{$resyuming}Public/js/zepto.min.js?v={$static_v}"></script>
    <title>魔力快印</title>
</head>
</head>
<body>
<table class="table" style="width:80%; margin: 30px auto;">
    <tbody>
        <tr>
            <th>总订单数</th>
            <td>{$totalCount|default=0}</td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="text-align: left"><b>今日/昨日订单数统计</b></p>
                <table class="table">
                    <tr>
                        <th style="text-align: center">下单来源</th>
                        <th style="text-align: center">订单支付总数(今日/昨日)</th>
                        <th style="text-align: center">订单下单总数(今日/昨日)</th>
                        <th style="text-align: center">订单支付率(今日/昨日)</th>
                    </tr>
                    <foreach name="orderCnts" item="v" key="name">
                    <tr>
                        <td>{$v.name}</th>
                        <td>{$v.payCnt.today} / {$v.payCnt.yesterday}</td>
                        <td>{$v.createCnt.today} / {$v.createCnt.yesterday}</td>
                        <td>{$v.payRadio.today} / {$v.payRadio.yesterday}</td>
                    </tr>
                    </foreach>
                </table>
            </td>
        </tr>
        <tr>
            <th>{$month} 订单数</th>
            <td>{$monthCount|default=0}</td>
        </tr>
        <tr>
            <th>{$premonth} 订单数</th>
            <td>{$premonthCount|default=0}</td>
        </tr>
        <tr>
            <th>{$pre2month} 订单数</th>
            <td>{$pre2monthCount|default=0}</td>
        </tr>
        <tr>
            <th>未下载的订单数</th>
            <td>{$notDownloadCount|default=0}</td>
        </tr>
    </tbody>
</table>
</body>
</html>