<!DOCTYPE html>
<html lang="zh">
        <head>
                <meta charset="utf-8" />
                <title>管理系统</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <!--basic styles-->
                <link href="/Public/css/wh/bootstrap.min.css" rel="stylesheet" />
        <notpresent name="Think.get.iframe">
                <!--<link href="/Public/CSS/bootstrap-responsive.min.css" rel="stylesheet" />-->
        </notpresent>
        <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome.min.css" />
        <!--[if IE 7]>
                    <link rel="stylesheet" href="/Public/css/wh/font/css/font-awesome-ie7.min.css" />
                <![endif]-->
        <!--ace styles-->
        <link rel="stylesheet" href="/Public/css/wh/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="/Public/css/wh/chosen.css" />
        <link rel="stylesheet" href="/Public/css/wh/ui.jqgrid.css" />
        <link rel="stylesheet" href="/Public/css/wh/ace-rtl.min.css" />
        <link rel="stylesheet" href="/Public/css/wh/ace.min.css" />
        <!--<link rel="stylesheet" href="http://local.molima.com/Public/CSS/ace-responsive.min.css" />-->
        <link rel="stylesheet" href="/Public/css/wh/ace-skins.min.css" />
        <!--[if !IE]>-->
        <script type="text/javascript">
                window.jQuery || document.write("<script src='/Public/js/wh/jquery-2.0.3.min.js'>" + "<" + "/script>");
        </script>
        <!--<![endif]-->
        <!--[if IE]>
                   <script type="text/javascript">
                       window.jQuery || document.write("<script src='/Public/js/wh/jquery-1.10.2.min.js'>" + "<" + "/script>");
                   </script>
            <![endif]-->

        <!--[if lte IE 8]>
                    <link rel="stylesheet" href="/Public/css/wh/ace-ie.min.css" />
                <![endif]-->
        <!--inline styles related to this page-->

        <!--[if IE]>
        <script src='/Public/js/wh/html5shiv.js'></script>
        <![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<notpresent name="Think.get.iframe">
        <div class="navbar">
                <div class="navbar-inner">
                        <div class="container-fluid">
                                <div class="navbar-header pull-left">
                                        <a href="#" class="navbar-brand">
                                                <small>
                                                        <i class="icon-leaf"></i>
                                                        仓储管理系统
                                                </small>
                                        </a><!-- /.brand -->
                                </div>
                                <!--/.brand-->
                                <div class="navbar-header pull-right" role="navigation">                                
                                        <ul class="nav ace-nav pull-right">
                                                <li class="light-blue">
                                                        <a data-toggle="dropdown" href="#" class="dropdown-toggle"> 
                                                                <span class="user-info"> 
                                                                        <small> 用户名：<empty name="user.username">{$user.telphone}<else />{$user.username}</empty></small>
                                                                </span> <i class="icon-caret-down"> </i>
                                                        </a>
                                                        <ul
                                                                class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer"
                                                                style="width: 243px;">
                                                                <!--<li><a href="/Index/User/sets"> <i class="icon-cog"> </i> 帐号信息: {$user.username}</a></li>-->
                                                                <li><a href="javascript:void(0);"> <i class="icon-cog"> </i> 帐号信息: {$user.username}</a></li>

                                                                <!--<neq name="user.isSubaccount" value="1">
                                                                        <li><a href="/Home/User/accountInfo"> <i class="icon-time"> </i> 到期时间：{$user.expiretime|date="Y-m-d",###}</a></li>
                                                                </neq>-->
                                                                <div class="clfl"></div>
                                                                <li class="divider"></li>
                                                                <li><a href="/Index/Admin/logout"> <i class="icon-off"> </i> 退出
                                                                        </a></li>
                                                        </ul></li>
                                        </ul>
                                </div>
                                <!--/.ace-nav-->
                        </div>
                        <!--/.container-fluid-->
                </div>
                <!--/.navbar-inner-->
        </div>
        <div class="main-container container-fluid">
                <a class="menu-toggler" id="menu-toggler" href="#"> <span
                                class="menu-text"> </span>
                </a>
                <div class="sidebar" id="sidebar">
                        <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
                                <span class="input-icon"> <input id="nav-search-input"
                                        class="input-small nav-search-input" type="text" autocomplete="off"
                                        placeholder="搜索 ..." style="padding-left: 30px; width: 140px;">
                                        <i class="icon-search nav-search-icon" style="top: 5px;"> </i>
                                </span>
                        </div>-->
                        <!--#sidebar-shortcuts-->
                        {$menus}
                        <!--/.nav-list-->
                        <!--<div class="sidebar-collapse" id="sidebar-collapse">
                                <i class="icon-chevron-left"> </i>
                        </div>-->
                        <div style="display:none">
                                <!-- 更多搜索支持的菜单 -->
                                <!-- <a href="/Home/User/changepassword"><span class="menu-text">修改密码</span></a> -->
                        </div>
                </div>		
                <div class="main-content">
                        <div class="breadcrumbs" id="breadcrumbs">
                                <ul class="breadcrumb">
                                        <li><i class="icon-home home-icon"></i> <a href="/Home/Activity/index">首页</a></li>
                                        <li id="bbs_0">
                                                {$menuCrumbs["first"]} 
                                        </li>
                                        <if condition="($menuCrumbs['third']['menuName']) eq null">
                                                <li id="bbs_2"><a href="{$menuCrumbs["second"]["url"]}">{$menuCrumbs["second"]["menuName"]}</a></li>
                                                <else/>
                                                <li id="bbs_1">
                                                        <a href="{$menuCrumbs["second"]["url"]}">{$menuCrumbs["second"]["menuName"]}</a>
                                                </li>
                                                <li id="bbs_2">
                                                        <a href="{$menuCrumbs["third"]["url"]}">{$menuCrumbs["third"]["menuName"]}</a>
                                                </li>
                                                <if condition="($menuCrumbs['fourth']['menuName']) neq null">
                                                        <li id="bbs_3">
                                                                <a href="{$menuCrumbs["fourth"]["url"]}">{$menuCrumbs["fourth"]["menuName"]}</a>
                                                        </li>
                                                        <else/>
                                                </if>
                                        </if>

                                </ul>
                                <!--.面包屑-->
                        </div>
                        <div id="page-content-main" class="page-content">{__CONTENT__}</div>
                        <!---主要内容--->
                </div>
                <!--/.main-content-->
        </div>
        <!--/.main-container-->
        <div id="waimaid-modal-template" class="modal hide fade" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        <h3 class="modal_title">标题栏</h3>
                </div>
                <div class="modal-body">
                        <iframe frameborder="0" width="100%" class="model_iframe"
                                src="about:blank"></iframe>
                </div>
                <div class="modal-footer">
                        <button class="btn btn-cancel" data-dismiss="modal"
                                aria-hidden="true">取消</button>
                        <button class="btn btn-primary modal_btn_ok">确定</button>
                </div>
        </div>
        <else /> {__CONTENT__} </notpresent>
<!--basic scripts-->
<script type="text/javascript">
        if ("ontouchend" in document)
                document.write("<script src='/Public/js/wh/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/Public/js/wh/bootstrap.min.js"></script>
<!--<script src="/Public/js/wh/json2.js"></script>-->
<!--page specific plugin scripts-->
<script src="/Public/js/wh/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/Public/js/wh/jquery.ui.touch-punch.min.js"></script>
<script src="/Public/js/wh/jquery.slimscroll.min.js"></script>
<!--ace scripts-->
<script src="/Public/js/wh/ace-elements.min.js"></script>
<script src="/Public/js/wh/ace-extra.min.js"></script>
<script src="/Public/js/wh/ace.min.js"></script>
<script src="/Public/js/wh/chosen.jquery.min.js"></script>
<script src="/Public/js/wh/jquery.maskedinput.min.js"></script>
<script src="/Public/js/wh/wh.js"></script>
<!--inline scripts related to this page-->
<div style="display:none">
</div>
</body>
</html>